$buttons: "primary", "secondary", "tertiary", "light", "info";
$border-radius: 6px;

@include generateThemeMappings() {
    // ----------- Design System ---------------
    .button,
    .button-sm {
        @include text-title-strong;
        @include ellipsis;
        border-radius: $border-radius;
        text-align: center;
        position: relative;
        i {
            font-size: 12px;
            line-height: 20px;
            margin-right: 4px;
        }
    }

    .button {
        padding: 10px 32px;
    }

    .button-sm {
        padding: 6px 16px;
    }

    .button-circle {
        padding: 0;
        font-size: 18px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        display: flex;
        i {
            margin: auto;
        }
    }

    .button-circle-sm {
        padding: 0;
        font-size: 14px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        i {
            margin: auto;
        }
    }
    // ----------- Design System ---------------

    .button {
        &.button-lg {
            font-size: 18px;
            line-height: 28px;
        }
        &.button-sm {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .button-pill {
        padding: 8px 16px;
        border-radius: 50px;
        line-height: 18px;
        display: inline-flex;
        justify-content: center;
    }

    @each $button in $buttons {
        .button-#{$button} {
            color: themed(#{"button.text"}-#{$button});
            background: themed(#{"button.bg"}-#{$button});
            border: themed(#{"button.line"}-#{$button});
            i {
                &::before {
                    color: inherit;
                }
            }
            &.button-circle ,
            &.button-circle-sm{
                color: themed(#{"button.text-icon"}-#{$button});
            }
            &:hover:not(:disabled) {
                color: themed(#{"button.text"}-#{$button}-#{"hover"});
                background: themed(#{"button.bg"}-#{$button}-#{"hover"});
                border: themed(#{"button.line"}-#{$button}-#{"hover"});
                i::before {
                    color: inherit;
                }
                &.button-circle,
                &.button-circle-sm {
                    color: themed(#{"button.text-icon"}-#{$button});
                }
            }
            &:disabled {
                color: themed(#{"button.text"}-#{$button}-#{"disable"});
                background: themed(#{"button.bg"}-#{$button}-#{"disable"});
                border: themed(#{"button.line"}-#{$button}-#{"disable"});
                i::before {
                    color: inherit;
                }
                &.button-circle {
                    color: themed(#{"button.text-icon"}-#{$button});
                }
            }
        }
    }

    .button-control-group {
        .sDropdown .sDropdown-toggle {
            background-color: transparent !important;
        }
        .button {
            padding: 12px 24px;
            border-radius: 0;
        }
        .button:first-child:not(:last-child){
            border-top-left-radius: $border-radius;
            border-bottom-left-radius:  $border-radius;
        }
        .button:last-child:not(:first-child){
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }

    .button-create-fuature {
        position: absolute;
        bottom: 25px;
        right: 25px;
        font-size: 48px;
        cursor: pointer;
        text-decoration: none;
        height: 48px;
        line-height: 48px;
        color: themed("color.primary");
        &:hover {
            color: themed("color.primary-dark");
        }
        .gfc-customer-circle {
            .path1,
            .path3,
            .path5,
            .path6,
            .path7 {
                &::before {
                    color: inherit;
                }
            }
        }
        .gfc-add-general {
            .path4 {
                &::before {
                    color: inherit;
                }
            }
        }
    }
}
