.s-carousel {
    margin: 15px -15px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    position: relative;

    &:hover .s-carousel-control-btn {
        visibility: visible;
    }

    &.s-carousel-sm {
        margin: 0px -15px;

        .carousel-control-btn {
            width: 25px;
            height: 25px;
            margin: auto 3px;

            i::before {
                color: #116dfc;
            }
        }
    }

    .s-carousel-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        scroll-behavior: smooth;
        width: 100%;

        .s-carousel-li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            .s-carousel-img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                cursor: pointer;
                border-radius: 3px;
            }
        }
    }

    .s-carousel-control-btn {
        width: 35px;
        height: 35px;
        background-color: white;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;
        cursor: pointer;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;

        i::before {
            // color: $mineShaft;
        }
    }
}
