$colors: "primary", "success","error","danger","default";
@include generateThemeMappings() {
    @each $color in $colors {
        .color-#{$color} {
            color: themed(#{"color."}#{$color});
        }
    }
}
