@include generateThemeMappings() {
    .bg-feature-activity {
        background: $feature-activity;
    }
    .bg-feature-deal {
        background: $feature-deal;
    }
    .bg-feature-case {
        background: $feature-case;
    }
    .bg-feature-customer {
        background: $feature-customer;
    }
    .bg-feature-quotation {
        background: $feature-quotation;
    }
    .bg-feature-salesorder {
        background: $feature-salesorder;
    }
    .bg-feature-expense {
        background: $feature-expense;
    }
    .bg-feature-conversation {
        background: $feature-conversation;
    }
    .bg-feature-contract {
        background: $feature-contract;
    }
    .bg-feature-chat {
        background: $feature-contract;
    }
}
