$input-font-size: 14px;
$input-line-height: 18px;
$input-padding: 6.5px;
$input-border-radius: 6px;

@include generateThemeMappings() {
    .form-control-section-header {
        font-size: 18px;
        font-family: $weight-semiBold;
    }
    .form-control-header {
        font-size: 16px;
        font-family: $weight-semiBold;
    }
    .form-control-group {
        margin: 16px 0px;

        .ant-picker {
            border-radius: $input-border-radius !important;
            border: themed("input.border-line");
            color: themed("input.text-color");
            min-height: 40px;
            padding: $input-padding;
            width: 100%;
            &.ant-picker-focused,
            &.ant-picker:hover {
                outline-style: none;
                box-shadow: none;
                border: themed("input.border-line-focus");
            }
        }

        .ant-picker-range .ant-picker-active-bar {
            background: themed("color.primary");
        }

        .sDropdown .sDropdown-toggle {
            border-radius: $input-border-radius;
            min-height: 40px;
        }
        .sDropdown .sDropdown-toggle .sDropdown-input {
            border-radius: $input-border-radius;
            display: inline-flex;
            width: calc(100% - 30px);
            padding: $input-padding !important;

            .sDropdown-valueItems.single .sDropdown-valueItem {
                @include text-title-input;
                color: themed("input.text-color");
                margin: 0;
                height: 100%;
                @include ellipsis;

                span {
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .form-label {
            width: 100%;
            font-size: 12px;
            line-height: 14px;
            margin: 0px 0px 4px;
            color: themed("input.label-color");
        }

        .e-numerictextbox {
            border: none !important;
            height: auto !important;
            padding: $input-padding !important;
            background: transparent;

            &::placeholder {
                color: themed("input.placeholder");
            }
        }

        .form-control {
            padding: $input-padding !important;
        }

        .e-input-group .e-input-group-icon,
        .e-input-group.e-control-wrapper .e-input-group-icon {
            border-color: themed("input.line-color");
        }

        .input-group {
            box-shadow: none !important;
            border: themed("input.border-line");
            color: themed("input.text-color");
            border-radius: $input-border-radius;

            &.readonly {
                background: themed("input.bg-disable");
                color: themed("input.text-color-disable");
                border: themed("input.border-line-disable") !important;
            }
            .form-control {
                box-shadow: none !important;
                border: none !important;
                background: transparent;
                &:focus:not(:disabled):not(.e-disabled),
                &:active:not(:disabled):not(.e-disabled),
                &:disabled,
                &:read-only {
                    box-shadow: none !important;
                    border: none !important;
                    background: transparent !important;
                }
            }
            .input-group-text {
                border: 0 !important;
                background: transparent;
                color: themed("input.label-color");
                margin: 0px 6.5px;
                padding: 0;
                i::before {
                    color: inherit;
                }
            }
        }

        .form-control,
        .e-control-wrapper.e-numeric.e-input-group {
            @include text-title-input;
            background: themed("input.bg-color");
            box-shadow: none !important;
            border: themed("input.border-line") !important;
            color: themed("input.text-color");
            border-radius: $input-border-radius;
            min-height: 40px;
            &:focus:not(:disabled):not(.e-disabled),
            &:active:not(:disabled):not(.e-disabled),
            &.e-input-focus:not(.e-disabled) {
                outline-style: none;
                box-shadow: none;
                border: themed("input.border-line-focus");
            }
            &::placeholder {
                color: themed("input.placeholder");
            }
            &:disabled,
            &.e-disabled,
            &:read-only:not(.e-control-wrapper.e-numeric.e-input-group) {
                background: themed("input.bg-disable");
                color: themed("input.text-color-disable");
                border: themed("input.border-line-disable");
            }
        }
    }
    .form-control-tag {
        .ng2-tag-input {
            border: 0 !important;
            tag {
                color: themed("button.text-tertiary");
                background: themed("button.bg-tertiary");
                border: themed("button.line-tertiary");
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                border-radius: 50px !important;
                box-shadow: none !important;
                padding: 0px 16px;

                .tag-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: normal;
                }
                .tag__text {
                    @include text-body-strong;
                }
                delete-icon {
                    height: auto;
                    width: auto;
                    margin-left: 5px;
                    path {
                        fill: themed("button.text-tertiary");
                    }
                    svg {
                        vertical-align: middle;
                        height: auto;
                    }
                    &:hover {
                        transform: none;
                    }
                }

                &:hover {
                    color: themed("button.text-tertiary-hover") !important;
                    background: themed("button.bg-tertiary-hover") !important;
                    border: themed("button.line-tertiary-hover") !important;

                    delete-icon path {
                        fill: themed("button.text-tertiary-hover") !important;
                    }
                }
            }
        }
    }
    .form-content-button {
        padding: 0px 0px 24px;
        .button {
            width: 100%;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .form-content-button-right {
        text-align: right;
        .button:not(:last-child) {
            margin-right: 4px;
        }
    }
}
