.active-gradient,
.active {
    &.gfc-quotation-fit,
    .gfc-quotation-fit {
        background: $feature-quotation;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.gfc-sales-order-fit,
    .gfc-sales-order-fit {
        background: $feature-salesorder;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
