$imgsize : (
    xs : 16px,
    sm : 36px,
    md : 56px,
    lg : 80px,
    xl : 120px,
);

@mixin image-optiion($size) {
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 50%;
}

.image-content {
    position: relative;
    .image-icon-bottom-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}

.circle {
    border-radius: 50%
}

@each $key, $value in $imgsize {
    #{".image-user"}-#{$key} {
        @include image-optiion($value);
    }
}