@include generateThemeMappings() {
    .inplace-block {
        background-color: white;
        z-index: 1;
        position: relative;

        .e-error {
            animation-duration: 0.6s;
            animation-name: shake;
            color : themed("color.error");
        }

        .text-input {
            .underline {
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                overflow: hidden;

                &:after {
                    content: " ";
                    position: absolute;
                    left: 0;
                    z-index: 9;
                    height: inherit;
                    width: 100%;
                    background-color : themed("color.primary");
                    transform: translate3d(-100%, 0, 0);
                    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }

            .inplace-input {
                border: none;
                background-color: transparent;

                &:focus {
                    outline: none;
                }

                height: 34px;
                width: 100%;

                &.error + .underline,
                &:focus + .underline,
                &:hover + .underline {
                    height: 1px;

                    &:after {
                        transform: translate3d(0, 0, 0);
                    }
                }

                &.error + .underline {
                    &:after {
                        background-color : themed("color.primary");
                    }
                }
            }
        }
    }

    .search-group {
        .input-group-text {
            background-color: #f5f5f5;
            border: 0;
            border-radius: 50px;
            font-size: 14px;
            color: #caccce;
            i::before {
                color: inherit;
            }
        }

        .search-icon {
            color: themed("text.color-k-40");
        }

        .form-control {
            box-shadow: none;
            background-color: #f5f5f5;
            border: 0;
            border-radius: 50px;
            font-size: 14px;
            line-height: 14px;
            padding: 8px 0px;

            &:first-child {
                padding-left: 16px;
            }
            &:last-child {
                padding-right: 16px;
            }
            
            &::placeholder {
                color: #caccce;
            }
        }
    }
}
