@include generateThemeMappings() {
    .layout-menu-content {
        position: fixed;
        width: themed("navbar-menu.width");
        max-width: themed("navbar-menu.width");
        height: 100%;
        z-index: $zindex-fixed;
    }
    .layout-main-content {
        position: relative !important;
        margin-left: themed("navbar-menu.width");
        height: 100vh !important;
        left: 0 !important;
        right: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 2px 0px 0px;
        background: themed("common.bg-content-body");
    }

    .custom-scrollbar {
        overflow: auto;
        &::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            opacity: 0;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px #ffffff;
            box-shadow: inset 0 0 5px #ffffff;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #d3d3d3;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #c8c8c8;
        }
    }

    .main-content-body {
        height: inherit;
        overflow-y: hidden;
        position: relative;
        padding: 2px 0px 0px 0px;
    }

    .content-layout {
        display: flex;
        height: 100%;
        width: 100%;
        overflow: auto;
        min-width : 100%;
        background: themed("common.bg-content");
        @include custom-scrollbar;
    }

    .content-column {
        position: relative;
        min-width: 350px;
        overflow: auto;
        max-height: 100%;
        border-right: themed("common.border-line");
        @include custom-scrollbar;
        &.content-left,
        &.content-right {
            width: 50%;
            overflow-x: hidden;
            max-width: 500px;
            @media (max-width: 1680px) {
                max-width: 350px;
            }
        }
        &.content-main {
            flex: 1;
            min-width: 650px;
        }
        &.content-main-small {
            flex: 1;
            min-width: 600px;
        }
    }
}
