@include generateThemeMappings() {
    .s-list-view-title {
        padding: 16px;
        @include text-title-strong;
        @include ellipsis;
    }
    .s-list-view-header {
        position: sticky;
        top: 0px;
        background: white;
        z-index: 1;
        border-bottom: themed("common.border-line");

        .s-list-view-tab {
            margin: 0px;
        }
        .s-list-view-search {
            margin: 8px;
        }
        .s-list-view-filter {
            margin: 8px;
        }
    }

    .s-list-view,
    .s-list-view-group {
        list-style: none;
        list-style: none;
        padding: 0;
        margin: 0;

        .s-list-view-header {
            padding: 8px 24px;
        }

        .s-list-view-item {
            border-top: 0;
            border-bottom: themed("common.border-line");
            position: relative;
            padding: 16px;

            &::before {
                content: " ";
                width: 4px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            &.select {
                background: themed("color.primary-light");
            }

            &.active {
                background: themed("color.secondary");
                &::before {
                    background: themed("color.primary");
                }
            }

            &:hover {
                background: themed("color.secondary");
            }
        }
    }

    .s-list-view-group {
        .s-list-view-item {
            border-bottom: 0;
            border-top: themed("common.border-line");
            position: relative;
            padding: 16px;
            &:first-child {
                border-top: 0;
            }
        }
    }


    .user-picker {
        .user-picker-list {
            padding: 8px;
            margin: 16px 0px;

            &.pointer:hover {
                background-color: color(wildSand);
                border-radius: 6px;
            }
        }
        .user-picker-detail {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
        }
        .user-picker-image {
            width: 42px;
            height: 42px;
            object-fit: scale-down;
            border-radius: 50%;
            margin-right: 8px;
        }
        .user-picker-name {
            @include ellipsis;
        }
        .user-picker-code {
            color: #9a9a9a;
            margin-top: 2px;
        }

    }
}
