@include generateThemeMappings() {
    .navbar-top {
        max-height: themed("navbar-top.heieht");
        min-height: themed("navbar-top.heieht");
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: themed("navbar-top.bg-color");

        .navbar-top-item {
            padding: 0px 16px;
        }

        .navbar-top-setting-option {
            display: flex;
            color: themed("navbar-top.text-color");
            text-align: right;

            .navbar-top-name {
                font-size: 12px;
                margin: 0;
            }

            .navbar-top-company {
                font-size: 10px;
                margin: 0;
            }
        }
    }

    .navbar-top-menu-list .sDropdown-toggle {
        background: transparent;
    }

    .navbar-header {
        max-height: themed("navbar-header.heieht");
        min-height: themed("navbar-header.heieht");
        font-size: 16px;
        padding: 8px 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: themed("navbar-header.bg-color");
        color: themed("navbar-header.text-color");

        .navbar-header-icon {
            font-size: 18px;
            padding-right: 5px;
            &::before {
                color: themed("navbar-header.icon-color");
            }
        }
    }
}
