@include generateThemeMappings() {
    .navbar-menu {
        width: 100%;
        padding: 16px;
        height: 100%;
        background: themed("navbar-menu.bg-color");
        box-shadow: themed("navbar-menu.drop-shadow");
        &::-webkit-scrollbar {
            display: none !important;
        }
        .navbar-menu-logo {
            width: 50px;
        }
        .navbar-menu-content {
            margin-top: 40px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .navbar-menu-icon {
                font-size: 28px;
                width: 44px;
                height: 44px;
                display: flex;
                margin-bottom: 1px;
                border-radius: 50%;
                background-color: themed("navbar-menu.bg-icon-color");
                i {
                    font-size: 28px;
                    margin: auto;
                    &::before {
                        color: themed("navbar-menu.icon-color");
                    }
                }
                &.active,
                &:hover {
                    background-color: themed("navbar-menu.bg-icon-color-active");
                    i::before {
                        color: themed("navbar-menu.icon-color-active");
                    }
                }
            }
        }
    }
}
