@include generateThemeMappings() {
    .select-pill {
        @include ellipsis;
        padding: 4px 10px;
        border-radius: 50px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 2px;
        i {
            font-size: 12px;
            padding: 0px 2px;
            &::before {
                color: inherit !important;
            }
        }
        &.active {
            font-family: $weight-semiBold !important;
        }
    }
    .select-pill,
    .multi-selection-md,
    .multi-selection-lg,
    .single-selection-sm,
    .single-selection-md,
    .single-selection-lg,
    .select-block {
        cursor : pointer;
        border: themed("select.line");
        color: themed("select.text");
        background: themed("select.bg");
        max-width: 100%;
        i {
            margin: 0px 5px;
            &:first-child:not(:last-child) {
                margin-left: 0;
            }
            &:last-child:not(:first-child) {
                margin-right: 0;
            }
        }
        i::before {
            color: inherit !important;
        }
        &.active:not(.disabled) {
            border: themed("select.line-active");
            color: themed("select.text-active");
            background: themed("select.bg-active");
        }
        &:hover:not(.disabled) {
            border: themed("select.line-hover");
            color: themed("select.text-hover");
            background: themed("select.bg-hover");
        }
        &.disabled {
            pointer-events: none;
            cursor: not-allowed;
            border: themed("select.line-disabled");
            color: themed("select.text-disabled");
            background: themed("select.bg-disabled");
            opacity: 0.5;
        }
    }

    .multi-selection-md,
    .multi-selection-lg {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            display: none;
            width: auto;
        }
        &.active {
            i {
                display: block;
            }
        }
    }
    .single-selection-sm {
        @include border-inside;
        @include text-body;
        @include ellipsis;
        margin: 4px;
        border-radius: 50px;
        padding: 4px 8px;
    }
    .single-selection-md {
        @include border-inside;
        @include text-body;
        margin: 4px;
        border-radius: 5px;
        padding: 8px;
    }
    .single-selection-lg {
        @include border-inside;
        @include text-title;
        margin: 4px;
        border-radius: 5px;
        padding: 8px;
    }
    .multi-selection-md {
        @include border-inside;
        @include text-body;
        margin: 4px;
        border-radius: 5px;
        padding: 8px;
    }
    .multi-selection-lg {
        @include border-inside;
        @include text-title;
        margin: 4px;
        border-radius: 5px;
        padding: 8px;
    }
    .select-block {
        @include border-inside;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        margin: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-selecting {
        display: flex;
        margin: 0px -4px;
        flex-wrap: wrap;
    }

    .content-select-block {
        display: flex;
        margin: 0px -4px;
    }
}
