$padding-content: 24px;
@include generateThemeMappings() {
    .e-sidebar {
        padding: 0 !important;
    }
    .s-sidebar {
        height: 100vh;
        position: relative;
        background : white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .s-sb-header {
            height: auto;
            padding: $padding-content;
            .s-sb-header-close {
                float: right;
                font-size: 16px;
                color: themed("text.color-k-30");
                &::before {
                    color: inherit;
                }
            }
            .s-sb-header-title {
                font-size: 20px;
                color: themed("text.color-k-100");
                font-family: $weight-semiBold;
            }
        }
        .s-sidebar-sticky-top {
            z-index: 1;
            position: sticky;
            top: 0px;
            background : white;
        }
       
        .s-sb-body {
            position: relative;
            flex: 1;
            padding: 0px $padding-content;
            margin-bottom: $padding-content;

        }

        .s-sb-body-full {
            position: relative;
            padding: 0px;
            flex: 1;
        }
        .s-sb-footer {
            padding: $padding-content/2  $padding-content;
            background: white;
            position: sticky;
            bottom: 0;
            z-index: 1;
        }
    }
}
