$spacing: (
    xs : 4px, 
    sm : 8px,
    md : 16px,
    lg : 24px,
    xl : 32px,
    xxl : 54px,
);

@each $space , $value in $spacing {
    .content-section-#{$space} {
        margin-top: $value;
    }
}


@mixin white-space-3xs {
    margin-top: 1px;
}

@mixin white-space-2xs {
    margin-top: 2px;
}

@mixin white-space-xs {
    margin-top: 4px;
}

@mixin white-space-s {
    margin-top: 2px;
}

@mixin white-space-m {
    margin-top: 16px;
}

@mixin white-space-l {
    margin: 32px;
}

@mixin white-space-top-l {
    margin-top: 32px;
}

@mixin white-space-bottom-l {
    margin-bottom: 32px;
}

@mixin white-space-xl {
    margin-top: 64px;
}


@include generateThemeMappings() {
    .ws-3xs {
        @include white-space-3xs;
    }

    .ws-2xs {
        @include white-space-2xs;
    }

    .ws-xs {
        @include white-space-xs;
    }

    .ws-s {
        @include white-space-s;
    }

    .ws-m {
        @include white-space-m;
    }

    .ws-t-l {
        @include white-space-top-l;
    }

    .ws-b-l {
        @include white-space-bottom-l;
    }

    .ws-xl {
        @include white-space-xl;
    }
}
