@import './../abstracts/fuctions';
.status-reopen {
    background-color: color(bluetiful);
    border: color(bluetiful);
    color: color(white);
}
.status-resolved {
    background-color: color(shamrock);
    border: color(shamrock);
    color: color(white);
}