@include generateThemeMappings() {
  .status-color {
    &.color-Accept,
    &.color-DoneActivity,
    &.color-FeedbackClosed,
    &.color-ExpProcessed,
    &.color-ExpPaid,
    &.color-ReceivedInventory,
    &.color-success,
    &.color-Success,
    &.color-ContractCompleted,
    &.color-SoCompletedOrder,
    &.color-CompletedQuotation,
    &.color-DealWon {
      color: themed("color.success");
    }

    &.color-InProgress,
    &.color-FeedbackInProgress,
    &.color-ExpApproved,
    &.color-ApprovedInventory,
    &.color-ApprovePO,
    &.color-primary,
    &.color-DealOpen,
    &.color-ContractActive,
    &.color-PendingReport {
      color: themed("color.progress");
    }

    &.color-Cancelled,
    &.color-Decline,
    &.color-CancelPlan,
    &.color-RejectActivity,
    &.color-FeedbackDeleted,
    &.color-ExpRejected,
    &.color-RejectedInventory,
    &.color-RejectPO {
      color: themed("color.cancelled");
    }

    &.color-DraftQuotation,
    &.color-DraftSalesOrder {
      color: themed("color.draft");
    }

    &.color-danger {
      color: themed("color.danger");
    }

    &.color-DealMiss {
      color: themed("color.missed");
    }

    &.color-warning {
      color: themed("color.warning");
    }

    &.color-WaitingCheckin {
      color: themed("color.pending");
    }

    &.color-PendingPlan {
      color: themed("color.pre-plan");
    }

    &.color-WaitingAccept,
    &.color-WaitingApprovePlan,
    &.color-WaitingApproveRevisePlan,
    &.color-FeedbackOpen,
    &.color-ExpWaitingApprove,
    &.color-WaitingApproveInventory,
    &.color-WaitingApprovePO,
    &.color-PendingApprovalQuotation,
    &.color-default,
    &.color-ContractNew,
    &.color-DealInProgress {
      color: themed("color.default");
    }

    &.color-ApprovedQuotation,
    &.color-SoOpenOrder{
      color: themed("color.approved");
    }
    
    &.color-RejectedQuotation,
    &.color-SoRejectOrder {
      color: themed("color.rejected");
    }

    &.color-Sent{
      color: themed("color.primary");
    }
  }

  .label {
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    padding: 2px 10px;
    vertical-align: baseline;
    border-radius: 50px;
    cursor: default;
    color : white;
    &.label-Accept,
    &.label-DoneActivity,
    &.label-FeedbackClosed,
    &.label-ExpProcessed,
    &.label-ExpApproved,
    &.label-ReceivedInventory,
    &.label-SoCompletedOrder,
    &.label-success,
    &.label-Completed,
    &.label-DealWon,
    &.label-ContractCompleted,
    &.label-CompletedQuotation,
    &.label-default.active {
      background: themed("color.success");
    }
  
    &.label-InProgress,
    &.label-InProgressImport,
    &.label-FeedbackInProgress,
    &.label-ExpApproved,
    &.label-ApprovedInventory,
    &.label-ApprovedMemo,
    &.label-DealInProgress,
    &.label-ApprovePO,
    &.label-primary,
    &.label-ContractActive,
    &.label-PendingReport,
    &.label-Interest {
      background: themed("color.progress");
    }
  
    &.label-Delete,
    &.label-Decline,
    &.label-CancelPlan,
    &.label-RejectActivity,
    &.label-FeedbackDeleted,
    &.label-Fail,
    &.label-Failed,
    &.label-ExpRejected,
    &.label-RejectedInventory,
    &.label-RejectPO,
    &.label-RejectedMemo,
    &.label-CancelMemo,
    &.label-CancelDeal,
    &.label-ContractCancelled {
      background: themed("color.cancelled");
    }

    &.label-DraftQuotation,
    &.label-DraftSalesOrder {
      background: themed("color.draft");
    }
  
    &.label-danger {
      background: themed("color.danger");
    }
  
    &.label-DealMiss {
      background: themed("color.missed");
    }
  
    &.label-warning {
      background: themed("color.warning");
    }

    // &.color-WaitingCheckin,
    // &.label-NotAbleToReach {
    //   color: themed("color.warning");
    // }

  
    // &.label-WaitingCheckin {
    //   background: $color-pending;
    // }
  
    // &.label-PendingPlan {
    //   background: $mercury;
    // }
  
    // &.label-NotInterest {
    //   background: #CACACA;
    // }
  
    // &.label-NotAbleToReach {
    //   background: #F7CA51;
    // }
  
    &.label-WaitingAccept,
    &.label-WaitingApprovePlan,
    &.label-WaitingApproveRevisePlan,
    &.label-WaitingAcceptRevisePlan,
    &.label-FeedbackOpen,
    &.label-ExpWaitingApprove,
    &.label-WaitingApproveInventory,
    &.label-WaitingApprovePO,
    &.label-WaitingApproveMemo,
    &.label-DealOpen,
    &.label-ContractNew,
    &.label-PendingApprovalQuotation,
    &.label-default {
      background: themed("color.default");
    }

    &.label-ApprovedQuotation,
    &.label-SoOpenOrder{
      background: themed("color.approved");
    }

    &.label-RejectedQuotation,
    &.label-SoRejectOrder{
      background: themed("color.rejected");
    }

    &.label-Sent{
      background: themed("color.primary");
    }
  }
  
}
