@include generateThemeMappings() {
    .gc-switch {
        display: flex;
        label {
            margin: auto 10px;
        }
        .e-switch-wrapper,
        .e-css.e-switch-wrapper {
            height: 25px;
            width: 40px;

            &:not(.e-switch-disabled) .e-switch-inner.e-switch-active {
                background-color: themed("color.success");
                border-color: themed("color.success");
            }

            .e-switch-handle {
                height: 21px;
                width: 21px;

                &.e-switch-active {
                    margin-left: -23px;
                }
            }
        }
    }
}
