@include generateThemeMappings() {
    .s-tab-primary {
        .s-tab-toolbar-item {
            .s-tab-wrap {
                padding: 10px 15px !important;
            }
            &.s-active {
                .s-tab-wrap::after {
                    background-color: themed("color.primary") !important;
                }
            }
        }

        .control-button {
            i::before{
                color : themed("color.primary") !important;
            }
        }
    }
}
