@include generateThemeMappings() {
    .s-tags-primary {
        .s-tags-item {
            @include text-subtitle;
            color: themed('tag.text-color')!important;
            border: 1px solid themed('tag.border-color') !important;
            cursor: pointer;
            background: themed('tag.bg-color') !important;
            .s-icon-close {
                &::before {
                    color: inherit;
                }
            }
        }

        .underline-animation {
            background-color: themed('color.primary') !important;
        }

        &.s-tags-toggle {
            color: themed('tag.text-color-active')!important;
            border: 1px solid themed('tag.border-color-active') !important;
            background: themed('tag.bg-color-active') !important;
            .s-icon-add {
                &::before {
                    color: inherit;
                }
            }
        }
    }
}
