@include generateThemeMappings() {
    .weight-bold {
        font-family: $weight-bold !important;
    }
    .weight-semibold {
        font-family: $weight-semiBold !important;
    }
    .weight-medium {
        font-family: $weight-medium !important;
    }
    .weight-regular {
        font-family: $weight-regular !important;
    }
    .weight-light {
        font-family: $weight-light !important;
    }
    .weight-thin {
        font-family: $weight-thin !important;
    }

    .ellipse,.ellipsis {
        @include ellipsis;
    }
    .header-22 {
        font-family: $weight-semiBold !important;
        font-size: 22px;
        line-height: 24px;
    }

    .header-18 {
        font-family: $weight-semiBold !important;
        font-size: 18px;
        line-height: 22px;
    }

    .header-16 {
        font-family: $weight-semiBold !important;
        font-size: 16px;
        line-height: 22px;
    }

    .detail-light {
        font-family: $weight-light !important;
        font-size: 14px;
        color: #b0b3b5;
    }
    .text-link-primary {
        font-size: 14px;
        color: themed("color.primary");
        cursor: pointer;
        &:hover {
            color: themed("color.primary-dark");
        }
        i {
            font-size: 10px;
            margin-right: 2px;
            &::before {
                color: inherit;
            }
        }
    }
}

.font6 {
    font-size: 6px !important;
}

.font8 {
    font-size: 8px !important;
}

.font10 {
    font-size: 10px !important;
}

.font11 {
    font-size: 11px !important;
}

.font12 {
    font-size: 12px !important;
}

.font13 {
    font-size: 13px !important;
}

.font14 {
    font-size: 14px !important;
}

.font16 {
    font-size: 16px !important;
}

.font18 {
    font-size: 18px !important;
}

.font20 {
    font-size: 20px !important;
}

.font22 {
    font-size: 22px !important;
}

.font24 {
    font-size: 24px !important;
}

.font26 {
    font-size: 26px !important;
}

.font28 {
    font-size: 28px !important;
}

.font30 {
    font-size: 30px !important;
}

.font32 {
    font-size: 32px !important;
}




.text-header-1 {
    @include text-header-1;
}
.text-header-2 {
    @include text-header-2;
}
.text-header-3 {
    @include text-header-3;
}
.text-header-4 {
    @include text-header-4;
}
.text-title {
    @include text-title;
}
.text-title-strong {
    @include text-title-strong;
}
.text-title-bold {
    @include text-title-bold;
}
.text-subtitle  {
    @include text-subtitle;
}
.text-body {
    @include text-body;
}
.text-body-strong {
    @include text-body-strong;
}
.text-small {
    @include text-small;
}
.text-small-strong {
    @include text-small-strong;
}
.text-extra-small {
    @include text-extra-small;
}
