@include generateThemeMappings() {
    .s-timeline-content {
        margin: 20px;
        .s-timeline-header {
            display: flex;
        }
        .s-timeline-profile {
            @include image-optiion-md;
            flex-shrink: 0;
            margin-right: 10px;
        }

        .s-timeline-subject {
            @include text-title;
            @include ellipsis;
            cursor: pointer;
        }

        .s-user-img-content {
            margin-top: 5px;
            .user-img {
                position: relative;

                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 5px;
                }

                i {
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    bottom: -4px;
                    border-radius: 50%;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                }
            }
        }

        .s-timeline-detail {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

           
        }

        .s-timeline-date {
            @include text-small;
            color: themed("text.color-k-60");
        }

        .s-timeline-time {
            @include text-small;
            color: themed("text.color-k-30");
        }

        .s-timeline-body {
            margin-left: 60px;
            padding: 15px;
            box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
            border-radius: 10px;
            max-width: 900px;

            .s-content-detail {
                margin-left: 15px;
            }

            table {
                width: 100%;
                table-layout: fixed;
            }
        }
    }
}
