<div class="s-collapse">
  <div class="{{ cssClass }}">
    <div #collapseToggle (click)="toggleClass(clickToggleOnOpen)" class="s-collapse-toggle">
      <ng-container [ngTemplateOutlet]="toggleTemplate?toggleTemplate:defaulToggleTemplate"></ng-container>
    </div>
    <div #collapseTarget class="s-collapse-content" *ngIf="contentTemplate">
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </div>
  </div>
  <div class="s-collapse-arrow" (click)="toggleClass()" *ngIf="contentTemplate && showArrow" [class.active]="isOpen">
    <span><i class="gfc-down-mini"></i></span></div>
</div>

<ng-template #defaulToggleTemplate>
  <button type="button" class="btn btn-primary">Click Collapse</button>
</ng-template>