.s-collapse {
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    .s-collapse-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        &.active {
            transition: max-height 0.2 ease-in;
        }
    }
    .s-collapse-arrow {
        position: absolute;
        position: absolute;
        bottom: -8px;
        text-align: center;
        width: 100%;

        span {
            cursor: pointer;
            width: 18px;
            height: 18px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            margin: auto;
            border: 1px solid #e2e2e2;
            transform: rotate(0deg);
            transition: transform 150ms ease;

            i {
                margin: auto;
            }
        }

        &.active {
            span i {
                transform: rotate(180deg);
                transition: transform 150ms ease;
            }
        }   
    }
}
