<div #sTooltip class="s-tooltip s-tooltip-{{placement}} " [ngStyle]="tooltipStyle">
    <ng-container [ngTemplateOutlet]="tooltipTemplate?tooltipTemplate:defaultTemplat"></ng-container>
    <span class="sTooltip-after" [ngStyle]="tooltipAfterStyle"></span>
</div>
<ng-template #defaultTemplat>
    <span>{{tooltipText}}</span>
</ng-template>