.s-tooltip {
    position: absolute;
    max-width: 200px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: black;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;

    .sTooltip-after {
        content: "";
        position: absolute;
        border-style: solid;
    }
}


.s-tooltip-top .sTooltip-after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.s-tooltip-bottom .sTooltip-after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.s-tooltip-left .sTooltip-after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.s-tooltip-right .sTooltip-after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}
