<!-- selector -->
<div #sDropdown class="sDropdown section-preview {{DropType[position]}} {{cssClass}}" (domChange)="onDomChange($event)"
    [ngClass]="{'show':isOpen, 'customTemplate':toggleTemplate, 'filterTemplate':isFilterDropdown, 'disabled':isDisabled }">

    <div class="sDropdown-toggle" (click)="toggle($event)">
        <ng-container
            [ngTemplateOutlet]="toggleTemplate?toggleTemplate:(isFilterDropdown?filterDropdownTemplate:defaultDropdownTemplate)">
        </ng-container>
    </div>

</div>
<ng-template #defaultDropdownTemplate>
    <div class="sDropdown-input">
        <div class="sDropdown-valueItems" [ngClass]="mode==Mode.single?'single':'multi'">
            <span class="placeholder" *ngIf="selectedItems?.length == 0;else valueSelected1">{{placeholder}}</span>
            <ng-template #valueSelected1>
                <div class="sDropdown-valueItem" *ngFor="let item of selectedItems;let i=index">
                    <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:defaultValueTemplate"
                        [ngTemplateOutletContext]="{$implicit:item}">
                    </ng-container>
                </div>
            </ng-template>
            <span class="remove-all" *ngIf="showClearButton && selectedItems?.length > 0 && mode == Mode.multi"
                (click)="removeAll()"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="sDropdown-icon"><i class="gfc-down-mini"></i></div>
</ng-template>
<ng-template #filterDropdownTemplate>
    <div class="sDropdown-input">
        <div class="sDropdown-valueItems">
            <span class="placeholder" *ngIf="!value || value?.length == 0;else valueSelected2">{{placeholder}}</span>
            <ng-template #valueSelected2>
                <div class="sDropdown-valueItem">
                    <span *ngIf="value?.length == 1">
                        <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:defaultValueFilterTemplate"
                            [ngTemplateOutletContext]="{$implicit:selectedItems[0]}">
                        </ng-container>
                    </span>
                    <span *ngIf="value?.length > 1">{{value.length}} selected</span>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="sDropdown-icon"><i class="gfc-down-mini"></i></div>
</ng-template>
<ng-template #defaultValueFilterTemplate let-data>{{data[fields.text]}}</ng-template>
<ng-template #defaultValueTemplate let-data>
    <span>{{data[fields['text']]}}<i class="fa fa-times" *ngIf="showClearButton" (click)="select(data,false)"></i></span>
</ng-template>


<!-- options -->
<ng-template #optionsPanel>
    <div #options class="sDropdown-menu fadeIn animated show {{DropType[position]}} {{cssClass}}" [ngStyle]="optionsStyle"
        *ngIf="!isDisabled">
        <span class="arrow-outline" [ngStyle]="arrowPosition"></span>
        <div class="sDropdown-layout">
            <span class="arrow" [ngStyle]="arrowPosition"></span>
            <div class="sDropdown-header" *ngIf="header"><span>{{header}}</span></div>
            <div class="sDropdown-search">
                <ng-template [ngIf]="allowFiltering">
                    <div class="sDropdown-iconSearch">
                        <span><i class="gfc-enquiry"></i></span>
                    </div>
                    <input #searchEle type="text" class="form-control" placeholder="{{filterPlaceholder}}"
                        [(ngModel)]="searchText" (input)="onSearch($event)">
                </ng-template>
                <div class="sDropdown-btnAdd" *ngIf="allowAddBtn" (click)="onAddBtnClick()">
                    <span><i class="fa fa-plus"></i></span>
                </div>
            </div>
            <div *ngIf="allowSelected">
                <div class="sDropdown-header" *ngIf="headerSelected"><span>{{headerSelected}} ({{selectedItem?.length || 0}})</span></div>
                <div class="sDropdown-selected" [style]="{'max-height':popupHeight}" >
                    <div class="pointer" style="float: left;" *ngIf="selectedItem?.length > 5" (click)="scrollLeft()">
                        <i class="fa fa-angle-left list-selected"></i>
                    </div>
                    <div #widgetsContent class= "middle">
                        <ng-template ngFor [ngForOf]="selectedItem" let-item let-i="index">
                            <div class="sDropdown-select info-widget " *ngIf="!item.separator">
                                <ng-container [ngTemplateOutlet]="itemSelectedTemplate?itemSelectedTemplate:selectedDropdownTemplate"
                                    [ngTemplateOutletContext]="{$implicit:item}">
                                </ng-container>
                            </div>
                            <div class="dropdown-divider" *ngIf="item.separator"></div>
                        </ng-template>
                    </div>
                    <div class="pointer" style="float: right" *ngIf="selectedItem?.length > 5" (click)="scrollRight()">
                        <i class="fa fa-angle-right list-selected"></i>
                    </div>
                </div>
            </div>
            <div class="sDropdown-items" [style]="{'max-height':popupHeight}">
                <ng-template [ngIf]="treeData?.current?.length > 0 && !searchText">
                    <div class="media itemTemplate sDropdown-item headerCurrent">  
                        <div class="media-body" (click)="rollback(treeData)">
                            <div class="sDropdown-icon rollback"><i class="fa fa-angle-left" ></i></div>
                            <p class="current-selected">{{treeData?.current[treeData.current?.length - 1].text}}
                                <span class="btn-selected"  >
                                    <label (click)="select(treeData?.current[treeData.current?.length - 1],true)"  >{{selectThis}}</label>
                                </span>
                             </p>
                            
                        </div>
                    </div>  
                </ng-template>
                <ng-template ngFor [ngForOf]="datas" let-item let-i="index">
                    <div class="sDropdown-item" *ngIf="!item.separator"
                        [ngClass]="{'active':getActive(item) ,'hover':itemHover == item[fields.value], 'disabled': item.disabled}"
                        (click)="select(item,false)" (mouseenter)="mouseenter($event, item)" (mouseleave)="mouseleave(item)"
                        sTooltip="{{showTooltip? item[fields.text]: ''}}" placement="top">
                        <ng-container [ngTemplateOutlet]="itemTemplate?itemTemplate:defaultItemTemplate"
                            [ngTemplateOutletContext]="{$implicit:item}">
                        </ng-container>
                        <i class="activeIcon fa fa-check" *ngIf="!item?.children || item?.children?.length == 0 "></i>
                    </div>
                    <div class="dropdown-divider" *ngIf="item.separator"></div>
                </ng-template>
            </div>
            <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
        </div>
    </div>
</ng-template>
<ng-template #defaultItemTemplate let-data>
    <div class="media itemTemplate">
        <img class="align-self-center" *ngIf="fields.pictureSrc" src="{{data[fields.pictureSrc]}}" />
        <div class="media-body">
            <ng-template [ngIf]="fields.children">
                <span *ngIf="calculate(data.children) > 0" class="sumSelected">{{calculate(data.children)}}</span>
                <span *ngIf="data.children?.length > 0 && calculate(data.children) == 0" class="nextStep"><div class="sDropdown-icon"><i class="fa fa-angle-right"></i></div></span>    
            </ng-template>
            <p>{{data[fields.text]}}</p>
            <p class="subTitle" *ngIf="fields.subText">{{data[fields.subText]}}</p>
        </div>
    </div>
</ng-template>

<!-- subMenu -->
<ng-template #options2ndPanel>
    <div #options2nd class="sDropdown-menu sDropdown-subMenu fadeIn animated {{DropType[position]}} {{cssClass}}"
     [ngStyle]="options2ndStyle" *ngIf="!isDisabled">
        <span class="arrow-outline" [ngStyle]="arrow2ndPosition"></span>
        <div class="sDropdown-layout">
            <span class="arrow" [ngStyle]="innerArrow2ndPosition"></span>
            <div class="sDropdown-items">
                <ng-template ngFor [ngForOf]="childDatas" let-item let-i="index">
                    <div class="sDropdown-item" *ngIf="!item.separator"
                        [ngClass]="{'disabled': item.disabled}" (click)="selectSubMenu(item)"
                        sTooltip="{{showTooltip? item[fields.text]: ''}}" placement="top">
                        <ng-container [ngTemplateOutlet]="itemTemplate?itemTemplate:defaultItemTemplate"
                            [ngTemplateOutletContext]="{$implicit:item}">
                        </ng-container>
                        <i class="activeIcon fa fa-check"></i>
                    </div>
                    <div class="dropdown-divider" *ngIf="item.separator"></div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-template>

<!-- selected -->
<ng-template #selectedDropdownTemplate let-data>
    <div class="media selectedTemplate">
        <img class="align-self-center" *ngIf="fields.pictureSrc" src="{{data[fields.pictureSrc]}}" />
        <i class="fa fa-remove pointer" (click)="select(data,false)"></i>
    </div>        
    <div class="selectedItem">{{data[fields.text]}}</div>
</ng-template>