$primary:#116DFC;

.sDropdown {
    position: static;

    &.customTemplate {
        display: inline-block;

        .sDropdown-toggle {
            border: none;
        }
    }

    .sDropdown-toggle {
        cursor: pointer;
        margin: 0;
        width: 100%;
        border: 1px solid #ccc;
        position: relative;
        vertical-align: middle;
        border-radius: 0.25rem;
        display: flex;
        background-color: white;


        &::after {
            display: none;
            border: none;
        }

        .sDropdown-input {
            border-radius: 4px;
            display: inline-flex;
            min-height: 34px;
            width: calc(100% - 30px);
            padding: 2px 5px;

            .fa-times {
                color: #ccc;
                cursor: pointer;

                &:hover {
                    color: #888;
                }
            }

            .placeholder {
                color: #ccc;
                margin: auto 0;
                font-size: 14px;
                height: 100%;
                display: flex;
                align-items: center;
            }

            .sDropdown-valueItems {
                position: relative;
                display: inline-block;
                width: 100%;

                .sDropdown-valueItem {
                    margin: 1px;
                    height: 28px;
                    white-space: nowrap;

                    &>span {
                        padding: 2px 4px;
                        border-radius: 4px;
                        margin: auto 1px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                }

                &.multi .sDropdown-valueItem {
                    display: inline-flex;

                    &>span {
                        background-color: #f0f0f0;

                        i {
                            margin: auto 2px;
                            margin-left: 4px;
                        }

                    }
                }

                &.single .sDropdown-valueItem {
                    &>span {

                        i {
                            margin: auto;
                            margin-right: 2px;
                            display: none;

                        }

                        &:hover i {
                            display: inline-block;
                        }
                    }
                }

                .remove-all {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    display: none;

                    i {
                        margin: auto 2px;
                        margin-right: 0px;
                    }
                }

                &:hover .remove-all {
                    display: flex;
                }
            }
        }

        .sDropdown-icon {
            height: inherit;
            width: 30px;
            display: inline-flex;

            i {
                margin: auto;
                font-size: 18px;
                transition: all 0.5s;
                &::before{
                    color: #959595 !important;
                }
            }
        }
    }

    &.show {
        .sDropdown-toggle {
            cursor: default;

            .sDropdown-icon {
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &.disabled {
        pointer-events: none;

        .sDropdown-toggle {
            background: #f4f4f4;
            color: #a6a6a6 !important;

            .sDropdown-input .sDropdown-valueItems.multi .sDropdown-valueItem>span {
                background-color: #e8e8e8;
            }
        }

        i {
            display: none !important;
        }
    }
}

.sDropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    will-change: transform;
    padding: 6px 0;
    color: #333;
    border: none;
    background: transparent;
    min-width: 150px;

    .arrow-outline {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        left: calc(50% - 6px);
        top: 1px;
        border-radius: 1px;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        background-color: white;
        background-clip: content-box;
        transform: rotate(45deg);
    }

    .sDropdown-layout {
        position: relative;
        background-color: #fff;
        background-clip: padding-box;
        font-size: 1rem;
        text-align: left;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 100%;

        .arrow {
            content: "";
            position: absolute;
            left: calc(50% - 6px);
            top: -4px;
            border-radius: 1px;
            border-top: 6px solid #ffffff;
            border-left: 6px solid #ffffff;
            border-bottom: 6px solid transparent;
            border-right: 6px solid transparent;
            background-color: white;
            background-clip: content-box;
            transform: rotate(45deg);
        }
    }

    .sDropdown-items {
        overflow: auto;
        height: 100%;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        padding: 4px 0;

        &::-webkit-scrollbar {
            /*display: none;*/
            width: 6px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px #ffffff;
            box-shadow: inset 0 0 5px #ffffff;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: #D3D3D3;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #C8C8C8;
        }
    }

    .sDropdown-header {
        padding: 5px 10px;
        color: #B5B5B5;
    }

    .sDropdown-search {
        padding: 0 10px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;

        .sDropdown-iconSearch {
            display: flex;
            margin-right: -1px;
            width: 25px;
            background-color: #F5F5F5;
            border: none;
            border-radius: 44px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            align-items: center;

            span {
                display: flex;
                margin: auto;
                margin-right: 1px;
                font-size: 14px;

                i {
                    transform: scaleX(-1);
                    
                    &::before{
                        color: #CACACA !important;
                    }
                }
            }
        }

        .sDropdown-btnAdd {
            padding-left: 8px;
            height: 34px;
            display: flex;
            margin-left: -1px;
            cursor: pointer;

            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $primary;
                color: white;
                margin: auto;
                display: flex;

                i {
                    margin: auto;
                }
            }
        }

        .form-control {
            height: 34px;
            padding: 4px 8px;
            background-color: #F5F5F5;
            border: none;
            border-radius: 44px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transition: box-shadow 0.15s ease-in-out;

            &:focus {
                outline: 0;
                box-shadow: none;
            }

            /* position: relative; */
            flex: 1 1 auto;
            width: 1%;
            min-width: 0;
            margin-bottom: 0;
        }
    }

    &.Dropup {
        .sDropdown-layout .arrow {
            top: auto;
            bottom: -3px;
            border-bottom: 6px solid #ffffff;
            border-right: 6px solid #ffffff;
            border-top: 6px solid transparent;
            border-left: 6px solid transparent;
        }

        .arrow-outline {
            top: auto;
            bottom: 3px;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
    }
}

.sDropdown-subMenu {
    padding: 0;

    .arrow-outline {
        left: - 6px;
        top: 12px;
        border-radius: 1px;
        border: 1px solid #ccc;
        background-color: white;
        background-clip: content-box;
        transform: rotate(45deg);
    }

    .sDropdown-layout {
        .arrow {
            left: - 6px;
            top: 11px;
            border-radius: 1px;
            border: 6px solid white;
        }
    }
}



/*! dropdown-item */
.sDropdown-item {
    border-radius: 4px;
    margin: 1px 8px;
    overflow: hidden;
    position: relative;

    .activeIcon {
        display: none;
        color: $primary;
        position: absolute;
        font-size: 18px;
        right: 2%;
        top: calc(50% - 9px);
    }

    &:not(.disabled) {
        cursor: pointer;

        &:hover,
        &.hover,
        &:active,
        &.active {
            background-color: #f0f0f0;
            background-clip: content-box;
            -webkit-box-shadow: 0px 3px 4px rgba(202, 202, 202, 0.5);
            box-shadow: 0px 3px 4px rgba(202, 202, 202, 0.5);
            // -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            // box-shadow: 0 5px 11px 0 rgba(31, 26, 26, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
        }

        &:active,
        &.active {
            background: #f0f0f0;
            box-shadow: none;
        }    
    }
            

    &.disabled {
        color: #868e96;

        &:hover,
        &.hover,
        &:active,
        &:focus {
            color: #868e96 !important;
            background-color: transparent !important;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }

}

.sDropdown-primary .sDropdown-item {
    &:not(.disabled) {

        &:hover,
        &.hover,
        &:active,
        &.active {
            color: #eee;
            background-color: $primary;

            .itemTemplate .subTitle {
                color: #eee;
            }
        }
    }
}

.headerCurrent{ 
    &:hover, &.hover, &:active, &.active{
        background-color: white !important;
        box-shadow: none !important;
    }
}

.sDropdown-outline {
    .sDropdown-valueItem {
        &>span {
            margin-right: 25px;
        }
    }

    .sDropdown-item {

        &:not(.disabled) {

            &:active,
            &.active {
                background: transparent;
                box-shadow: none;

                .activeIcon {
                    display: block;
                }
            }

            &:hover,
            &.hover {
                color: #eee;
                background-color: $primary;

                .itemTemplate .subTitle {
                    color: #eee;
                }

                .activeIcon {
                    color: white;
                }
            }
        }
    }
}

.itemTemplate {
    padding: 5px;

    .media-body {
        overflow: hidden;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 5px;
    }

    p {
        font-size: 14px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .subTitle {
        font-size: 12px;
        color: #959595;
    }

    .sumSelected{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5px 6px;
        height: 20px;
        background-color: #116DFC;
        border-radius: 12px;
        color: white;
        font-size: 14px;
        float: right;
    }

    .nextStep{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5px 6px;
        width: 22px;
        height: 20px;
        color: #959595;
        float: right;
    }
    
    .rollback{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5px 7px;
        width: 22px;
        height: 20px;
        color: #959595;
        cursor: pointer;
        margin: 4px 5px 0;   
        float: left;
    }
 
    .current-selected{
        font-weight: bold;
        display: flex;
        font-size: 14px;
        line-height: 17px;
        color: #333132;
        margin: 5px 10px 0;
        cursor: pointer;
        justify-content: space-between;
    }
    .btn-selected{
        font-weight: bold;
        display: flex;
        font-size: 14px;
        line-height: 17px;
        color: #F05B2F;
        margin: 5px 10px 0;
        cursor: pointer !important;
    }
}



.filterTemplate {
    width: auto;
    display: inline-block;

    .sDropdown-toggle {
        background-color: transparent;
        border: none;

        &:hover {
            background-color: #e6e6e6;
        }

        .sDropdown-input {
            height: 32px;
            width: auto;
            padding-left: 10px;

            .sDropdown-valueItems .sDropdown-valueItem span {
                padding: 2px 0;
            }
        }

        .sDropdown-icon {
            width: 20px;

            i {
                margin-left: 2px;
            }
        }
    }

}



@media screen and (prefers-reduced-motion:reduce) {
    .sDropdown .sDropdown-animating {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important
    }
}

@media only screen and (max-width:991px) {

    .sticky,
    .sticky-placeholder {
        display: none
    }
}

@media only screen and (max-width:992px) {

    .col-md-4 .sticky,
    .col-lg-4 .sticky,
    .col-xl-4 .sticky {
        width: 12.5rem
    }
}

@media only screen and (min-width:992px) {

    .col-md-4 .sticky .col-lg-4 .sticky,
    .col-xl-4 .sticky {
        width: 25rem
    }
}

@media only screen and (min-width:1200px) {
    .col-md-4 .sticky {
        width: 18.75rem
    }
}

@media only screen and (min-width:1440px) {
    .col-md-4 .sticky {
        width: 21.875rem
    }
}

/*! animate */

.sDropdown-menu.animated {
    -webkit-animation-duration: .55s;
    animation-duration: .55s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media(prefers-reduced-motion) {
    .animated {
        -webkit-transition: none !important;
        transition: none !important;
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-animation-duration: 0.2s !important;
        animation-duration: 0.2s !important;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

.sDropdown-select{
    display: inline-block;
}

.sDropdown-selected {
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    padding: 5px 0px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 10px;

    .info-widget {
        display: inline-block;
    }

    .middle {
        float: left;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
            &::-webkit-scrollbar {
                display: none;
            }
        margin-top: 5px;    
    }

    .list-selected {
        float: left;
        padding: 0 5px;
        margin-top: 15px;
       // margin-right: 5px;
        background: #FFFFFF;
        opacity: 0.8;
        border-radius: 100%;
        box-shadow: 0px 0.992px 1.984px rgb(0 0 0 / 16%);

        &::before{
            color: #116DFC;
        }
    }
}

.selectedTemplate {
    position: relative;

    .media-body {
        overflow: hidden;
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 20px;
        display: inline-block;
        position: relative;
    }

    .gfc-close {
        position: absolute;
        top: 0px;
        right: 15px;
        bottom: 10px;
        background: #FFFFFF;
        height: 15px;
        width: 15px;
        box-shadow: 0px 0px 4px rgb(202 202 202 / 50%);
        border-radius: 100%;

        &::before{
            font-size: 1px;
            color: #959595;
            display: flex;
            justify-content: center;
            padding-top: 2px;   
        }
    }
}

.selectedItem{    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 49px;
}

.pointer {cursor: pointer;}

