@import './../../../../assets/styles/theme/theme';
@import './../../../../assets/styles/variable';
$prefixClass: "s-date-range-picker";
@import "./../../../../../angular-common/assets/styles/component/button";
.s-date-range-picker {
    .ant-popover-title,
    .ant-popover-inner-content {
        padding: 0px;
    }
}

.s-date-picker-content-popup {
    min-width: 560px;
    max-width: 720px;
    .s-date-picker-calendar {
        .ant-picker-panel-container {
            box-shadow: none !important;
        }
        .ant-picker-panel {
            border: none !important;
        }
        .ant-picker-dropdown-range {
            padding: 0px;
        }
    }
    .s-date-picker-date {
       p {
           margin: 0px;
           font-size: 22px;
       }
        
    }
    .s-date-picker-header {
        max-width: 560px;
        justify-content: space-between;
        &.s-date-picker-active-filter {
            max-width: 720px;
        }
        padding: 8px 12px;
        .s-date-picker-filter {
            margin: 0px 0px 0px auto;
        }
    }
    .s-date-picker-active-filter {
        min-width: 720px;
    }
    .s-date-picker-content {
        width: 560px;
    }
    .s-date-picker-customer-filter {
        border-right: 1px solid #f0f0f0;
        padding: 12px;
        max-width: 160px;
    }
    .s-date-picker-footer {
        text-align: right;
        padding: 8px 12px;
        border-top: 1px solid #f0f0f0;
        button {
            margin: 0px 0px 0px 8px
        }
    }
}

.s-date-picker-quarter {
    padding: 8px 16px;
    border-top: 1px solid #f0f0f0;
    .s-date-picker-filter-block {
        text-align: center;
    }
}

.s-date-picker-filter-block {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 8px;
    color: #454545;
    background: #FFFFFF;
    cursor: pointer;
    margin-bottom: 4px;
    @include ellipsis;
}
.s-date-picker-filter-block.active:not(.disable),
.s-date-picker-filter-block:hover:not(.disable) {
    border: 1px solid #116DFC;
    color: #116DFC;
    background: #F5F9FF;
}
.s-date-picker-filter-block.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

@include generateThemeMappings(){
    .ant-radio-button-wrapper {
        font-size: 16px;

        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        border-color: themed("color.primary");
        color: themed("color.primary");
    }
    .ant-radio-button-wrapper:hover {
        color: themed("color.primary");
    }
}
