<div class="s-date-range-picker">
  <div class="s-picker-toggle">
    <div nz-popover [nzPopoverPlacement]="placement" [(nzPopoverVisible)]="visible" nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate" [nzPopoverTitle]="headerTemplate"
    [nzPopoverOverlayClassName]="'s-date-range-picker s-date-picker-content-popup'">
      <ng-container [ngTemplateOutlet]="toggleTemplate?toggleTemplate:defaultValueTemplate"></ng-container>
    </div>
  </div>
</div>

<ng-template #defaultValueTemplate>
  <button nz-button>Click me</button>
</ng-template>
<ng-template #headerTemplate>
  <div nz-row class="s-date-picker-header" [ngClass]="{'s-date-picker-active-filter' : filterTemplate }" *ngIf="isPhraseReady">
    <div nz-col class="s-date-picker-date">
      <p *ngIf="dateRange.start && dateRange.end">{{ dateRange.start| sDate:'dd MMMM yyyy' | async }} - {{  dateRange.end| sDate:'dd MMMM yyyy' | async }}</p>
    </div>
    <div nz-col class="s-date-picker-filter">
      <nz-radio-group [(ngModel)]="intervalType" (ngModelChange)="onSelectInterval()">
        <label *ngFor="let interval of intervalTypes" nz-radio-button [nzValue]="interval">
          {{ interval.keyName | sPhrase | async }}
        </label>
      </nz-radio-group>
    </div>
  </div>
</ng-template>
<ng-template #contentTemplate>
  <div nz-row *ngIf="intervalType.type" class="s-date-picker-content"
    [ngClass]="{'s-date-picker-active-filter' : filterTemplate }">
    <div nz-col nzFlex="160px" class="s-date-picker-customer-filter" *ngIf="filterTemplate">
      <ng-container [ngTemplateOutlet]="filterTemplate"></ng-container>
    </div>
    <div nz-col nzFlex="560px">
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-date-picker #dateStartPicker nzInline [nzMode]="intervalType.calendarMode" [(ngModel)]="dateStart"
            [nzDisabledDate]="disabledStartDate" [nzNoAnimation]="true" class="s-date-picker-calendar"
            [nzShowToday]="false" (ngModelChange)="onSelectedDateStart($event)">
          </nz-date-picker>
          <div nz-row class="s-date-picker-quarter" *ngIf="intervalType.type == IntervalTypes.Quarter">
            <div nz-col nzSpan="6" class="s-date-picker-filter-block" (click)="onSelectStartQuarter(item)"
              *ngFor="let item of quarters"
              [ngClass]="{'active' : getSelectQuarter('start',item), 'disable' : !getActiveQuarter('start',item) }">
              Q{{item}}
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <nz-date-picker #dateEndPicker nzInline [nzMode]="intervalType.calendarMode" [(ngModel)]="dateEnd"
            [nzDisabledDate]="disabledEndDate" class="s-date-picker-calendar" [nzShowToday]="false"
            (ngModelChange)="onSelectedDateEnd($event)">
          </nz-date-picker>
          <div nz-row [nzGutter]="8" class="s-date-picker-quarter" *ngIf="intervalType.type == IntervalTypes.Quarter">
            <div nz-col lass="gutter-row" nzSpan="6" class="s-date-picker-filter-block" (click)="onSelectEndQuarter(item)"
              *ngFor="let item of quarters"
              [ngClass]="{'active' : getSelectQuarter('end',item),'disable' : !getActiveQuarter('end',item) }">
              Q{{item}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="s-date-picker-footer" *ngIf="isPhraseReady">
    <button class="button-sm button-secondary" (click)="onCancel()">{{ 'common_cancel' | sPhrase | async }}</button>
    <button class="button-sm button-primary" [disabled]="!(dateRange?.start && dateRange?.end)" (click)="onSubmit()">{{ 'common_save' | sPhrase | async }}</button>
  </div>
</ng-template>