.s-date-range-picker .button,
.s-date-range-picker .button-sm {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 16px !important;
  line-height: 140% !important;
  overflow: visible;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  border-radius: 6px;
  text-align: center;
  position: relative;
}
.s-date-range-picker .button i,
.s-date-range-picker .button-sm i {
  font-size: 12px;
  line-height: 20px;
  margin-right: 4px;
}
.s-date-range-picker .button {
  padding: 10px 32px;
}
.s-date-range-picker .button-sm {
  padding: 6px 16px;
}
.s-date-range-picker .button-circle {
  padding: 0;
  font-size: 18px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
}
.s-date-range-picker .button-circle i {
  margin: auto;
}
.s-date-range-picker .button-circle-sm {
  padding: 0;
  font-size: 14px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
}
.s-date-range-picker .button-circle-sm i {
  margin: auto;
}
.s-date-range-picker .button.button-lg {
  font-size: 18px;
  line-height: 28px;
}
.s-date-range-picker .button.button-sm {
  font-size: 14px;
  line-height: 16px;
}
.s-date-range-picker .button-pill {
  padding: 8px 16px;
  border-radius: 50px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
}
.s-date-range-picker .button-primary {
  color: #ffffff;
  background: #116dfc;
  border: 1px solid #116dfc;
}
.s-date-range-picker .button-primary i::before {
  color: inherit;
}
.s-date-range-picker .button-primary.button-circle, .s-date-range-picker .button-primary.button-circle-sm {
  color: #ffffff;
}
.s-date-range-picker .button-primary:hover:not(:disabled) {
  color: #ffffff;
  background: #035ce6;
  border: 1px solid #035ce6;
}
.s-date-range-picker .button-primary:hover:not(:disabled) i::before {
  color: inherit;
}
.s-date-range-picker .button-primary:hover:not(:disabled).button-circle, .s-date-range-picker .button-primary:hover:not(:disabled).button-circle-sm {
  color: #ffffff;
}
.s-date-range-picker .button-primary:disabled {
  color: #cacaca;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.s-date-range-picker .button-primary:disabled i::before {
  color: inherit;
}
.s-date-range-picker .button-primary:disabled.button-circle {
  color: #ffffff;
}
.s-date-range-picker .button-secondary {
  color: #454545;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.s-date-range-picker .button-secondary i::before {
  color: inherit;
}
.s-date-range-picker .button-secondary.button-circle, .s-date-range-picker .button-secondary.button-circle-sm {
  color: #454545;
}
.s-date-range-picker .button-secondary:hover:not(:disabled) {
  color: #454545;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}
.s-date-range-picker .button-secondary:hover:not(:disabled) i::before {
  color: inherit;
}
.s-date-range-picker .button-secondary:hover:not(:disabled).button-circle, .s-date-range-picker .button-secondary:hover:not(:disabled).button-circle-sm {
  color: #454545;
}
.s-date-range-picker .button-secondary:disabled {
  color: #cacaca;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}
.s-date-range-picker .button-secondary:disabled i::before {
  color: inherit;
}
.s-date-range-picker .button-secondary:disabled.button-circle {
  color: #454545;
}
.s-date-range-picker .button-tertiary {
  color: #116dfc;
  background: #f5f9ff;
  border: 1px solid #e7f0ff;
}
.s-date-range-picker .button-tertiary i::before {
  color: inherit;
}
.s-date-range-picker .button-tertiary.button-circle, .s-date-range-picker .button-tertiary.button-circle-sm {
  color: #116dfc;
}
.s-date-range-picker .button-tertiary:hover:not(:disabled) {
  color: #116dfc;
  background: #e7f0ff;
  border: 1px solid #e7f0ff;
}
.s-date-range-picker .button-tertiary:hover:not(:disabled) i::before {
  color: inherit;
}
.s-date-range-picker .button-tertiary:hover:not(:disabled).button-circle, .s-date-range-picker .button-tertiary:hover:not(:disabled).button-circle-sm {
  color: #116dfc;
}
.s-date-range-picker .button-tertiary:disabled {
  color: #b8d3fe;
  background: #e7f0ff;
  border: 1px solid #e7f0ff;
}
.s-date-range-picker .button-tertiary:disabled i::before {
  color: inherit;
}
.s-date-range-picker .button-tertiary:disabled.button-circle {
  color: #116dfc;
}
.s-date-range-picker .button-light {
  color: #959595;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.s-date-range-picker .button-light i::before {
  color: inherit;
}
.s-date-range-picker .button-light:hover:not(:disabled) {
  color: #ffffff;
  background: #116dfc;
  border: 1px solid #035ce6;
}
.s-date-range-picker .button-light:hover:not(:disabled) i::before {
  color: inherit;
}
.s-date-range-picker .button-light:disabled {
  color: #ffffff;
  background: #cacaca;
  border: 1px solid #cacaca;
}
.s-date-range-picker .button-light:disabled i::before {
  color: inherit;
}
.s-date-range-picker .button-info {
  color: #116dfc;
  background: #f5f9ff;
  border: 1px solid #e7f0ff;
}
.s-date-range-picker .button-info i::before {
  color: inherit;
}
.s-date-range-picker .button-info:hover:not(:disabled) {
  color: #ffffff;
  background: #116dfc;
  border: 1px solid #035ce6;
}
.s-date-range-picker .button-info:hover:not(:disabled) i::before {
  color: inherit;
}
.s-date-range-picker .button-info:disabled {
  color: #ffffff;
  background: #cacaca;
  border: 1px solid #cacaca;
}
.s-date-range-picker .button-info:disabled i::before {
  color: inherit;
}
.s-date-range-picker .button-control-group .sDropdown .sDropdown-toggle {
  background-color: transparent !important;
}
.s-date-range-picker .button-control-group .button {
  padding: 12px 24px;
  border-radius: 0;
}
.s-date-range-picker .button-control-group .button:first-child:not(:last-child) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.s-date-range-picker .button-control-group .button:last-child:not(:first-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.s-date-range-picker .button-create-fuature {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 48px;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  color: #116dfc;
}
.s-date-range-picker .button-create-fuature:hover {
  color: #035ce6;
}
.s-date-range-picker .button-create-fuature .gfc-customer-circle .path1::before,
.s-date-range-picker .button-create-fuature .gfc-customer-circle .path3::before,
.s-date-range-picker .button-create-fuature .gfc-customer-circle .path5::before,
.s-date-range-picker .button-create-fuature .gfc-customer-circle .path6::before,
.s-date-range-picker .button-create-fuature .gfc-customer-circle .path7::before {
  color: inherit;
}
.s-date-range-picker .button-create-fuature .gfc-add-general .path4::before {
  color: inherit;
}

.s-date-range-picker .ant-popover-title,
.s-date-range-picker .ant-popover-inner-content {
  padding: 0px;
}

.s-date-picker-content-popup {
  min-width: 560px;
  max-width: 720px;
}
.s-date-picker-content-popup .s-date-picker-calendar .ant-picker-panel-container {
  box-shadow: none !important;
}
.s-date-picker-content-popup .s-date-picker-calendar .ant-picker-panel {
  border: none !important;
}
.s-date-picker-content-popup .s-date-picker-calendar .ant-picker-dropdown-range {
  padding: 0px;
}
.s-date-picker-content-popup .s-date-picker-date p {
  margin: 0px;
  font-size: 22px;
}
.s-date-picker-content-popup .s-date-picker-header {
  max-width: 560px;
  justify-content: space-between;
  padding: 8px 12px;
}
.s-date-picker-content-popup .s-date-picker-header.s-date-picker-active-filter {
  max-width: 720px;
}
.s-date-picker-content-popup .s-date-picker-header .s-date-picker-filter {
  margin: 0px 0px 0px auto;
}
.s-date-picker-content-popup .s-date-picker-active-filter {
  min-width: 720px;
}
.s-date-picker-content-popup .s-date-picker-content {
  width: 560px;
}
.s-date-picker-content-popup .s-date-picker-customer-filter {
  border-right: 1px solid #f0f0f0;
  padding: 12px;
  max-width: 160px;
}
.s-date-picker-content-popup .s-date-picker-footer {
  text-align: right;
  padding: 8px 12px;
  border-top: 1px solid #f0f0f0;
}
.s-date-picker-content-popup .s-date-picker-footer button {
  margin: 0px 0px 0px 8px;
}

.s-date-picker-quarter {
  padding: 8px 16px;
  border-top: 1px solid #f0f0f0;
}
.s-date-picker-quarter .s-date-picker-filter-block {
  text-align: center;
}

.s-date-picker-filter-block {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 8px;
  color: #454545;
  background: #FFFFFF;
  cursor: pointer;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.s-date-picker-filter-block.active:not(.disable),
.s-date-picker-filter-block:hover:not(.disable) {
  border: 1px solid #116DFC;
  color: #116DFC;
  background: #F5F9FF;
}

.s-date-picker-filter-block.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.s-date-range-picker .ant-radio-button-wrapper {
  font-size: 16px;
}
.s-date-range-picker .ant-radio-button-wrapper:first-child {
  border-radius: 6px 0 0 6px;
}
.s-date-range-picker .ant-radio-button-wrapper:last-child {
  border-radius: 0 6px 6px 0;
}
.s-date-range-picker .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: #116dfc;
  color: #116dfc;
}
.s-date-range-picker .ant-radio-button-wrapper:hover {
  color: #116dfc;
}