// รอเปลี่ยนเป็นอันที่ถูก
@mixin borderInside {
    @include border-inside;
}

@mixin border-inside {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
