@mixin image-optiion-xs {
    @include image-circle(16px);
}

@mixin image-optiion-sm {
    @include image-circle(36px);
}

@mixin image-optiion-md {
    @include image-circle(56px);
}

@mixin image-optiion-lg {
    @include image-circle(80px);
}

@mixin image-optiion-xl {
    @include image-circle(120px);
}

@mixin image-circle($size) {
    width: $size;
    height: $size;
    object-fit: cover;
    border-radius: 50%;
}