@mixin custom-scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        opacity: 0;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px #ffffff;
        box-shadow: inset 0 0 5px #ffffff;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #c8c8c8;
    }
}

@mixin close-scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}
