@mixin text-header-1 {
    font-family: $weight-semiBold !important;
    font-size: 36px !important;
    line-height: 140% !important;
    overflow: visible;
}

@mixin text-header-2 {
    font-family: $weight-semiBold !important;
    font-size: 26px !important;
    line-height: 140% !important;
    overflow: visible;
}

@mixin text-header-3 {
    font-family: $weight-semiBold !important;
    font-size: 22px !important;
    line-height: 145% !important;
    overflow: visible;
}

@mixin text-header-4 {
    font-family: $weight-semiBold !important;
    font-size: 18px !important;
    line-height: 145% !important;
    overflow: visible;
}

@mixin text-title {
    font-family: $weight-medium !important;
    font-size: 16px !important;
    line-height: 150% !important;
    overflow: visible;
}

@mixin text-title-input {
    font-family: $weight-regular !important;
    font-size: 14px !important;
    line-height: 160% !important;
    overflow: visible;
}

@mixin text-title-strong {
    font-family: $weight-semiBold !important;
    font-size: 16px !important;
    line-height: 140% !important;
    overflow: visible;
}


@mixin text-title-bold {
    font-family: $weight-bold !important;
    font-size: 16px !important;
    line-height: 150% !important;
    overflow: visible;
}

@mixin text-subtitle {
    font-family: $weight-semiBold !important;
    font-size: 14px !important;
    line-height: 145% !important;
    overflow: visible;
}

@mixin text-body {
    font-family: $weight-medium !important;
    font-size: 14px;
    line-height: 145%;
    overflow: visible;
}

@mixin text-body-strong {
    font-family: $weight-bold !important;
    font-size: 14px;
    line-height: 145%;
    overflow: visible;
}

@mixin text-small {
    font-family: $weight-medium !important;
    font-size: 12px !important;
    line-height: 150% !important;
    overflow: visible;
}

@mixin text-small-strong {
    font-family: $weight-semiBold !important;
    font-size: 12px !important;
    line-height: 150% !important;
    overflow: visible;
}


@mixin text-extra-small {
    font-family: $weight-medium !important;
    font-size: 10px !important;
    line-height: 120% !important;
    overflow: visible;
}

@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin pre-wrap {
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

// รอเปลี่ยนเป็นอันที่ถูก
@mixin ellipse {
    @include ellipsis;
}


@mixin lineClamp($line) {
    @include line-clamp($line);
 }

