$img-width: 80px;
$img-height: 80px;
$border-radius: 4px;
.sUploader {
    .sUploader-container {
        display: flex;
        flex-wrap: wrap;

        .sUploader-input-area {
            input[type="file"] {
                display: none;
            }
        }
        .sUploader-file-list,
        .sUploader-input-area {
            position: relative;
            border-radius: $border-radius;
            background: #ffffff;
            color: #cacaca;
            margin: 8px 8px 0px 0;
        }

        .sUploader-input-area {
            display: none;
            .sUploader-input-btn {
                height: $img-height;
                width: 100%;
                border-radius: $border-radius;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border: 1px dashed #f0f0f0;

                &.active {
                    width: $img-width;
                }

                .spinner-border {
                    color: #eaeaea !important; 
                }
            }
            &.active {
                width: $img-width;
                animation: scale-display 0.1s;
                display: inline-flex;
            }
            &.empty {
                width: 100%;
                animation: scale-display 0.1s;
                display: inline-flex;
                margin: 10px 0px 10px 0;
            }
            &.hidden{
                display: none;
            }

        }

        .sUploader-file-list {
            height: $img-height;
            width: $img-width;
            display: none;
            &.active {
                animation: scale-display 0.1s;
                display: inline-flex;
            }
            &.remove {
                animation: scale-display--reversed 0.2s;
                animation-fill-mode: forwards;
                display: inline-flex;
            }
            .sUploader-view-img,
            .sUploader-view-file {
                height: 100%;
                width: 100%;
                border-radius: 4px;
                color: #7d7d7d;
            }

            .sUploader-view-img {
                object-fit: cover;
                object-position: center;
            }

            .sUploader-view-file {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border: 1px solid #f0f0f0;

                img {
                    width: 50%;
                }
            }

            .sUploader-input-remove {
                position: absolute;
                top: -5px;
                right: -5px;
                background-color: white;
                border-radius: 50px;
                height: 15px;
                box-shadow: 0px 0.992px 1.984px rgb(0 0 0 / 16%);
                width: 15px;
                text-align: center;
                font-size: 10px;
                line-height: 15px;
                color: #cacaca;
                cursor: pointer;
            }
        }
    }

    .sUploader-file-icon {
        font-size: 24px;
    }

    .sUploader-file-text {
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0px 10px;
        margin: 0px;
    }
}

@keyframes remove {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
    1% {
        display: block;
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        display: none;
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes scale-display {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


@keyframes scale-display--reversed {
    0% {
        display: inline-flex;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    50% {
        display: inline-flex;
        opacity: 0.5;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    99% {
        display: inline-flex;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        width: 0px;
        margin: 0;
        display: none;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}


