<div #sUploader class="sUploader" [ngStyle]="optionsStyle?.border" *ngIf="visibleView">
  <div class="sUploader-container">
    <!-- Input Add -->
    <div class="sUploader-input-area" (click)="openFile()" *ngIf="attachments.length < max"
      [ngClass]="{'active' : attachments.length > 0,'empty' : attachments.length == 0 , 'hidden' : !showToggleAdd }">
      <ng-container [ngTemplateOutlet]="toggleTemplate?toggleTemplate:defaultInputAddTemplate"></ng-container>
      <input #inputFile type="file" name="uploaderFile" (click)="onInputFileClick($event)" [multiple]="multiple"
        [accept]="allowExtensions" (input)="onFileChange($event)" [disabled]="onload">
    </div>

    <!-- Attachment List -->
    <ng-template ngFor [ngForOf]="attachments" let-item let-i="index">
      <ng-container [ngTemplateOutlet]="valueTemplate?valueItemTemplate:defaultValueTemplate"
        [ngTemplateOutletContext]="{$implicit:item}">
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #defaultInputAddTemplate>
  <div class="sUploader-input-btn" [ngClass]="{'active': attachments.length > 0}">
    <div *ngIf="onload; then loading else contentAdd"></div>
    <ng-template #loading>
      <div class="spinner-border" role="status"></div>
    </ng-template>
    <ng-template #contentAdd>
      <i class="sUploader-file-icon {{ optionsStyle?.iconAdd }}"></i>
      <p class="sUploader-file-text placeholder" *ngIf="placeholder">{{ placeholder }}</p>
    </ng-template>
  </div>
</ng-template>

<ng-template #valueItemTemplate let-data>
  <div class="sUploader-file-list" [ngClass]="{ 'remove' : !data.isActive, 'active' : data.isActive}">
    <i *ngIf="showRemoveFile" class="sUploader-input-remove {{ optionsStyle?.iconRemove }}" (click)="remove(data)"></i>
    <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:defaultImage"
      [ngTemplateOutletContext]="{$implicit:data}">
    </ng-container>
  </div>
</ng-template>

<ng-template #defaultValueTemplate let-data>
  <div class="sUploader-file-list" [ngClass]="{ 'remove' : !data.isActive, 'active' : data.isActive}">
    <i *ngIf="showRemoveFile" class="sUploader-input-remove {{ optionsStyle.iconRemove }}" (click)="remove(data)"></i>
    <ng-container [ngTemplateOutlet]="getTypeAttachment(data) == AttachmentType.Image?defaultImage:defaultFile"
      [ngTemplateOutletContext]="{$implicit:data}">
    </ng-container>
  </div>
</ng-template>

<ng-template #defaultImage let-data>
  <img class="sUploader-view-img" [src]="data | sAttSecure:notUseStorageKey:isFullPath | async">
</ng-template>

<ng-template #defaultFile let-data>
  <div class="sUploader-view-file">
    <img [src]="data | sAttSecure:notUseStorageKey:isFullPath | async">
    <p class="sUploader-file-text">{{ data[fields.name] }}</p>
  </div>
</ng-template>