<div *ngIf="toggleList > 0 && viewType == VIEW_TYPE.ListView; then collapseContent else listContent"></div>
<ng-template #collapseContent>
  <s-collapse [clickToggleOnOpen]="false" [cssClass]="'s-attachment-collapse'" [showArrow]="files.length > toggleList">
    <ng-template #toggleTemplate>
      <div class="s-attachment-collapse-toggle">
        <ng-container [ngTemplateOutlet]="listContent"
          [ngTemplateOutletContext]="{$implicit: {start : 0, end : toggleList}}"></ng-container>
      </div>
    </ng-template>
      <ng-template #contentTemplate>
        <div class="s-attachment-collapse-content">
          <ng-container [ngTemplateOutlet]="listContent"
            [ngTemplateOutletContext]="{$implicit: {start : toggleList, end : files.length}}"></ng-container>
        </div>
      </ng-template>
  </s-collapse>
</ng-template>

<ng-template #listContent let-data>
  <div class="s-attachment-list" [ngSwitch]="viewType">
    <div class="attachment-list-file" *ngSwitchCase="VIEW_TYPE.ListView">
      <div class="file-list {{ cssClass }}" *ngFor="let item of files | slice:data.start:data.end"
        (click)="openClick(item)">
        <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:listViewDefaul"
          [ngTemplateOutletContext]="{$implicit:item}"></ng-container>
      </div>
    </div>
    <div class="attachment-list-media" *ngSwitchCase="VIEW_TYPE.ListBlock">
      <div class="file-list {{ cssClass }}" *ngFor="let item of files | slice:data.start:data.end"
        (click)="openClick(item)">
        <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:listBlockDefaul"
          [ngTemplateOutletContext]="{$implicit:item}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #listViewDefaul let-data>
  <div class="media">
    <img [src]="data | sAttSecure | async">
    <div class="media-body">
      <p class="file-list-name" *ngIf="data[fields.name]">{{ data[fields.name] }}</p>
      <p class="file-list-date" *ngIf="data[fields.date]">{{ data[fields.date]| date:'dd/MM/yyyy' }}</p>
    </div>
  </div>
</ng-template>
<ng-template #listBlockDefaul let-data>
  <img [src]="data | sAttSecure:isAllCompany:isFullPath | async">
</ng-template>