.s-attachment-collapse {
  margin: 8px 16px;
  .s-attachment-collapse-toggle {
    .file-list:first-child {
      border-top: 0;
    }
  }
}
.s-attachment-list {
  .attachment-list-file {
    .file-list {
      padding: 12px 8px;
      border-top: 1px solid #e2e2e2;
      cursor: pointer;
      img {
        width: 35px;
        height: 35px;
        margin: 0px 8px 0px 0px;
      }

      .file-list-name {
        margin: 0;
        font-size: 14px;
        color: #333132;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .file-list-date {
        margin: -2px 0px 0px;
        font-size: 12px;
        color: #959595;
      }

      .media-body {
        width: calc(100% - 50px);
      }
    }
  }

  .attachment-list-media {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    img {
      cursor: pointer;
      width: 82px;
      min-width: 82px;
      height: 82px;
      object-fit: cover;
      border-radius: 4px;
      margin: 4px;
    }
  }

  .attachment-list-file {
    .file-list {
      &.border-block {
        padding: 6px 8px;
        border: 1px solid #e2e2e2;
        cursor: pointer;
        border-radius: 4px;
        margin: 5px 0px;
      }
    }
  }
  .attachment-list-media {
    .border-block {
      img {
        padding: 6px 8px;
        border: 1px solid #e2e2e2;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  }
}
