<nz-input-group [nzAddOnAfter]="increaseButton" [nzAddOnBefore]="deceaseButton">
    <nz-input-number [(ngModel)]="value" (ngModelChange)="changeValue()" [nzSize]="size" [nzMin]="min" [nzMax]="max"
        [nzStep]="step" [disabled]="isDisabled"></nz-input-number>
</nz-input-group>
<ng-template #deceaseButton>
    <button nz-button nzType="default" class="left" [disabled]="isDisabled || value<=min" [nzSize]="size"
        (click)="decease()">
        <i class="gfc-decease"></i>
    </button>
</ng-template>
<ng-template #increaseButton>
    <button nz-button nzType="default" class="right" [disabled]="isDisabled || value>=max" [nzSize]="size"
        (click)="increase()">
        <i class="gfc-add"></i>
    </button>
</ng-template>