  .ant-input-number {
      width: 100%;
      border-radius: 0;

      .ant-input-number-handler-wrap {
          display: none;

      }

      .ant-input-number-input {
          text-align: center;
      }
  }

  .ant-input-group-addon {
      border: 0;
      padding: 0;

      .ant-btn-icon-only {
          border-radius: 4px;

          &:disabled i::before {
              color: inherit;
          }

          &.left {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
          }

          &.right {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
          }
      }
  }