.s-attachment-profile {
    width: 100%;

    input[type="file"] {
        display: none;
    }

    .s-profile-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #cacaca;
        padding: 6px;
        font-size: 16px;
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        border: 2px solid white;
        &::before {
            color: white;
        }
    }

    

    .s-profile {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid white;;
    }

    .s-profile-content {
        position: relative;
        width: 120px;
        height: 120px;
        margin: auto;
    }
}
