<div class="s-attachment-profile {{ cssClass }}">
  <div class="s-profile-content" (click)="onOpenClick($event)">
    <i class="s-profile-icon gfc-camera-filled" aria-hidden="true" *ngIf="!disabled"></i>
    <img class="s-profile" [src]="attachment? (attachment | sAttSecure:notUseStorageKey:isFullPath | async) : ('assets/images/default-pic/user.svg' | sAssets)">
    <input #inputFile type="file" [disabled]="disabled" [accept]="allowExtensions" [size]="250000" (click)="onInputFileClick($event)" (input)="onFileChange($event)">
  </div>
</div>