.s-upload-file {
    width: 100%;
    position: relative;
    .s-upload-file-content {
        display: flex;
        flex-wrap: wrap;
    }
    .s-upload-list {
        margin: 0px -4px;
        .s-upload-file-list,
        .s-upload-file-toggle {
            margin: 8px 4px 0px;
            height: 80px;
            border-radius: 4px;
        }
        .s-upload-file-list {
            width: 80px;
            .s-upload-file-view-img {
                width: inherit;
                height: inherit;
            }
        }
    }
    .s-upload-type {
        .s-upload-file-list {
            width: 80px;
            height: auto;
            margin: 4px;
            .s-upload-file-type {
                width: inherit;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 4px;
                    object-fit: cover;
                }
                .s-upload-info {
                    width: 100%;
                    overflow: hidden;
                    .s-upload-name {
                        color: #1a1a1a;
                        font-size: 12px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin: 0;
                    }
                    .s-upload-remove {
                        color: #646464;
                        float: right;
                        &::before {
                            color: inherit;
                        }
                        &:hover {
                            color: #DE3A45;
                        }
                    }
                    .s-upload-size {
                        font-size: 10px;
                        color: #959595;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .s-upload-file-list {
        position: relative;
        background-color: white;
        display: none;
        &.active {
            animation: scale-display 0.1s;
            display: inline-flex;
        }
        &.remove {
            animation: scale-display--reversed 0.2s;
            animation-fill-mode: forwards;
            display: inline-flex;
        }
        .s-upload-file-remove {
            position: absolute;
            right: -5px;
            top: -5px;
            background-color: white;
            border-radius: 50px;
            height: 14px;
            width: 14px;
            box-shadow: 0px 0.992px 1.984px rgb(0 0 0 / 16%);
            text-align: center;
            font-size: 10px;
            line-height: 12px;
            cursor: pointer;
            color: #cacaca;
        }
        .s-upload-file-view-img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            object-fit: cover;
        }
        .s-upload-file-view-file {
            border: 1px solid #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            .s-upload-file-text {
                color: #7d7d7d;
                text-align: center;
            }
            img {
                width: 40px;
            }
        }
    }
    .s-upload-file-toggle {
        background-color: white;
        border: 1px dashed #f0f0f0;
        color: #cacaca;
        padding: 8px;
        text-align: center;
        min-height: 80px;
        min-width: 80px;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &.active {
            width: 80px;
        }
    }
    .s-upload-file-icon {
        font-size: 24px;
        &::before {
            color: inherit;
        }
    }
    .s-upload-file-text {
        width: 100%;
        font-size: 12px;
        margin: 4px 0px 0px;
        color: #cacaca;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .s-upload-file-toggle-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }
    .s-upload-file-toggle-type {
        cursor: pointer;
        width: 100%;
        margin: 5px 5px 0px;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
        &.disabled {
            cursor: none;
            opacity: 0.4;
            pointer-events: none;
        }
    }
    .s-upload-file-toggle-label {
        box-shadow: 0px 0px 2.98291px rgb(181 181 181 / 50%);
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        border: 0;
        background-color: white;

        .label-text {
            margin: 0px;
            font-size: 10px;
            color: #757575;
        }

        i {
            font-size: 20px;
        }
    }
    .s-upload-file-loading {
        margin: 8px;
        text-align: center;
        .color-primary {
            color: #116DFC;
        }
    }
}
@keyframes scale-display {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes scale-display--reversed {
    0% {
        display: inline-flex;
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    25% {
        display: inline-flex;
        opacity: 0.75;
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
    }
    50% {
        display: inline-flex;
        opacity: 0.5;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
    75% {
        display: inline-flex;
        opacity: 0.25;
        transform: scale(0.25);
        -webkit-transform: scale(0.25);
    }
    99% {
        display: inline-flex;
        opacity: 0.1;
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
    }
    100% {
        width: 0px;
        margin: 0;
        display: none;
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
