<div sDragDropFile class="s-upload-file {{ cssClass }}" (onFileDropped)="handleFiles($event)" [ngSwitch]="mode">
  <ng-container *ngSwitchCase="Mode.FileList" [ngTemplateOutlet]="ContentFileList"></ng-container>
  <ng-container *ngSwitchCase="Mode.FileType" [ngTemplateOutlet]="ContentFileType"></ng-container>
  <ng-container *ngSwitchCase="Mode.Custom" [ngTemplateOutlet]="ContentCustom"></ng-container>
</div>

<!-- Content File List -->
<ng-template #ContentFileList>
  <div class="s-upload-file-content s-upload-list">
    <ng-container [ngTemplateOutlet]="toggleTemplate?toggleTemplate:defaultToggleTemplate"></ng-container>
    <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:defaultValueTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="s-upload-file-loading">
    <div class="spinner-border color-primary" role="status"></div>
  </div>
</ng-template>


<!-- Content File Type -->
<ng-template #ContentFileType>
  <div class="s-upload-file-content s-upload-type">
    <ng-container [ngTemplateOutlet]="valueTemplate?valueTemplate:defaultValueTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="s-upload-file-loading">
    <div class="spinner-border color-primary" role="status"></div>
  </div>
  <ng-container [ngTemplateOutlet]="toggleTemplate?toggleContentTemplate:defaultToggleTemplate"></ng-container>
</ng-template>


<!-- Content Custom -->
<ng-template #ContentCustom>
  <div class="s-upload-file-custom" (click)="fileInputCustom.click()">
    <ng-container [ngTemplateOutlet]="toggleTemplate"></ng-container>
    <ng-template ngFor [ngForOf]="value" let-item let-i="index">
      <ng-container [ngTemplateOutlet]="valueTemplate" [ngTemplateOutletContext]="{$implicit:item}">
      </ng-container>
    </ng-template>
    <input hidden type="file" #fileInputCustom [accept]="allowExtensions" (click)="onInputFileClick($event)"
      (change)="handleFiles($event.target.files)" [multiple]="multiple">
  </div>
</ng-template>


<ng-template #defaultValueTemplate>
  <div class="s-upload-file-list" *ngFor="let item of value"
    [ngClass]="{ 'remove' : !item.isActive, 'active' : item.isActive}">
    <!-- Mode Filt List -->
    <ng-template [ngIf]="mode == Mode.FileList">
      <i *ngIf="showRemoveFile" class="s-upload-file-remove {{ iconRemoveClass }}" (click)="remove(item)"></i>
      <ng-container [ngTemplateOutlet]="getTypeAttachment(item) == 'image'?defaultImage:defaultFile"
        [ngTemplateOutletContext]="{$implicit:item}">
      </ng-container>
    </ng-template>
    <!-- Mode Filt Type -->
    <ng-template [ngIf]="mode == Mode.FileType">
      <div class="s-upload-file-type">
        <img [src]="item | sAttSecure:!requiredStorageKey:isFullPath | async" alt="">
        <div class="s-upload-info">
          <p class="s-upload-name">{{ item.filename }}</p>
          <i *ngIf="showRemoveFile" class="s-upload-remove gfc-bin" (click)="remove(item)" aria-hidden="true"></i>
          <p class="s-upload-size">{{ item.fileSize | sSize }}</p>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>

<ng-template #toggleContentTemplate>
  <div class="s-upload-file-toggle-custom">
    <ng-container [ngTemplateOutlet]="toggleTemplate"></ng-container>
  </div>
  <input hidden type="file" #fileInputToggle [accept]="allowExtensions" (click)="onInputFileClick($event)"
    (change)="handleFiles($event.target.files)" [multiple]="multiple">
</ng-template>

<ng-template #defaultToggleTemplate>
  <!-- Mode Filt List -->
  <ng-template [ngIf]="mode == Mode.FileList && !disabledMaxFile && !disabled">
    <div class="s-upload-file-toggle" [ngClass]="{'active' : value?.length > 0}" (click)="fileInput.click()">
      <i class="s-upload-file-icon {{ iconAddClass }}"></i>
      <p class="s-upload-file-text">{{ placeholder? placeholder : ('common_placeholder_upload' | sPhrase | async) }}</p>
      <input hidden type="file" #fileInput [accept]="allowExtensions" (click)="onInputFileClick($event)"
        (change)="handleFiles($event.target.files)" [multiple]="multiple">
    </div>
  </ng-template>
  <!-- Mode Filt Type -->
  <ng-template [ngIf]="mode == Mode.FileType">
    <div class="s-upload-file-toggle-content">
      <ng-template ngFor let-type [ngForOf]="filesUpload">
        <div class="s-upload-file-toggle-type" *ngIf="type.isActive"
          [ngClass]="{'disabled' : disabledMaxFile || disabled}">
          <label class="s-upload-file-toggle-label">
            <i class="{{type.icon}}" aria-hidden="true">
              <span *ngFor="let e of counter(type.pathIcon);let i = index" [className]="'path' + (i + 1)"></span>
            </i>
            <p class="label-text">{{ type.name | sPhrase | async }}</p>
            <input hidden type="file" (click)="onInputFileClick($event)" [accept]="type.accept"
              (change)="handleFiles($event.target.files)" [multiple]="multiple">
          </label>
        </div>
      </ng-template>
    </div>
  </ng-template>
</ng-template>

<ng-template #defaultImage let-data>
  <img class="s-upload-file-view-img" [src]="data | sAttSecure:!requiredStorageKey:isFullPath | async" />
</ng-template>
<ng-template #defaultFile let-data>
  <div class="s-upload-file-view-file">
    <img [src]="data | sAttSecure:!requiredStorageKey:isFullPath | async" />
    <p class="s-upload-file-text">{{ data.filename }}</p>
  </div>
</ng-template>