@import "./../../styles/functions/color";
$theme: (
    navbar-menu: (
        width: 80px,
        bg-color: linear-gradient(180deg,#F47243 9.18%, #E54111 71.62%),
        bg-icon-color: color(transparent),
        bg-icon-color-active: #f68760,
        icon-color:color(white),
        icon-color-active: color(white),
        drop-shadow: 0px 0px 4px rgba(181, 181, 181, 0.5),
    ),
    navbar-top: (
        heieht: 55px,
        bg-color: color(white),
        text-color: color(white),
    ),
    navbar-header: (
        heieht: 40px,
        bg-color: #ff7a52,
        icon-color: color(sunglow),
        text-color: #252627,
    ),
    button: (
        // --------- Button Primary
        text-primary: color(white),
        text-primary-hover: color(white),
        text-primary-disable: color(pewter),
        bg-primary: color(flame),
        bg-primary-hover: #ff7a52,
        bg-primary-disable: color(smoke),
        line-primary: 1px solid color(flame),
        line-primary-hover: 1px solid #ff7a52,
        line-primary-disable: 1px solid color(smoke),
        // --------- Button Secondary
        text-secondary: color(lead),
        text-secondary-hover: color(flame),
        text-secondary-disable: color(flint),
        bg-secondary: color(white),
        bg-secondary-hover: color(white),
        bg-secondary-disable: color(white),
        line-secondary: 1px solid color(flint),
        line-secondary-hover: 1px solid color(flame),
        line-secondary-disable: 1px solid color(smoke),
        // --------- Button Tertiary
        text-tertiary: color(lead),
        text-tertiary-hover: color(flame),
        text-tertiary-disable: color(flint),
        bg-tertiary: color(white),
        bg-tertiary-hover: color(white),
        bg-tertiary-disable: color(white),
        line-tertiary: 1px solid color(flint),
        line-tertiary-hover: 1px solid color(flame),
        line-tertiary-disable: 1px solid color(smoke),
        // --------- Button Light
        text-light: color(lead),
        text-light-hover: color(flame),
        text-light-disable: color(flint),
        bg-light: color(white),
        bg-light-hover: color(white),
        bg-light-disable: color(white),
        line-light: 1px solid color(flint),
        line-light-hover: 1px solid color(flame),
        line-light-disable: 1px solid color(smoke),
        // --------- Button Info
        text-info: color(lead),
        text-info-hover: color(flame),
        text-info-disable: color(flint),
        bg-info: color(white),
        bg-info-hover: color(white),
        bg-info-disable: color(white),
        line-info: 1px solid color(flint),
        line-info-hover: 1px solid color(flame),
        line-info-disable: 1px solid color(smoke),
    ),
    select: (
        text: color(sonicSilver),
        text-active: color(sunglow),
        text-hover: color(honey),
        text-disabled: color(lightGray),
        bg: color(white),
        bg-active: color(cornmilk),
        bg-hover: color(white),
        bg-disabled: color(wildSand),
        line: 1px solid color(alto),
        line-active: 1px solid color(sunglow),
        line-hover: 1px solid color(sunglow),
        line-disabled: 1px solid color(lightGray),
    ),
    input: (
        text-color: color(eerieBlack),
        text-color-disable: color(silverChalice),
        placeholder: color(silverChalice),
        label-color: color(sonicSilver),
        bg-color : color(white),
        bg-disable : color(wildSand),
        line-color: color(lightGray),
        border-line: 1px solid color(lightGray),
        border-line-focus: 1px solid color(minion),
        border-line-disable: 1px solid color(lightGray),
    ),
    color: (
        primary:  color(flame),
        primary-light: color(cornmilk),
        primary-dark: color(honey),
        secondary: color(wildSand),
        progress: color(bluetiful),
        success: color(shamrock),
        danger: #fc6e51,
        missed: #f01e6f,
        error: #de3a45,
        warning: #f0ad4e,
        default: #cbc5cb,
        pending: #98afc4,
        pre-plan: #e2e2e2,
        draft: #D9D9D9,
        cancelled: #6a6a6a,
    ),
    text: (
        color-k-100: color(black),
        color-k-95: color(eerieBlack),
        color-k-80: color(jet),
        color-k-70: color(mineShaft),
        color-k-60: color(doveGray),
        color-k-50: color(sonicSilver),
        color-k-40: color(gray),
        color-k-30: color(silverChalice),
        color-k-20: color(lightGray),
        color-k-10: color(alto),
        color-k-5: color(wildSand),
        color-k-0: color(white),
    ),
    tag : (
        border-color : color(f68760),
        bg-color : color(f68760),
        text-color : color(flame),
        border-color-active : color(flame),
        bg-color-active : color(flame),
        text-color-active : color(white)
    ),
    common: (
        box-shadow-dark: 0px 0px 4px rgba(117, 117, 117, 0.5),
        box-shadow: 0px 0px 4px rgba(181, 181, 181, 0.5),
        box-shadow-light: 0px 0px 4px rgba(217, 217, 217, 0.5),
        drop-shadow: 0px 0px 4px rgba(181, 181, 181, 0.5),
        border-line: 1px solid color(mercury),
        bg-hover: color(lightGray),
        line: 1px solid color(mercury),
        line-color: color(mercury),
        line-light: 1px solid color(wildSand),
        line-dark: 1px solid color(mercury),
        bg-content-body : color(wildSand),
        bg-content : color(white)
    ),
);
