@use 'venio-light' as venio-light;
@use 'venio-dark' as venio-dark;
@use 'salesbear-light' as salesbear-light;
@use 'salesbear-dark' as salesbear-dark;
@use 'empeo-light' as empeo-light;
@use 'empeo-dark' as empeo-dark;
$themesName: null;
$themeValues: null;
$prefixClass: null;
$default-theme: venio-light.$theme;
$venio-light: venio-light.$theme;
$venio-dark: venio-dark.$theme;
$salesbear-light: salesbear-light.$theme;
$salesbear-dark: salesbear-dark.$theme;
$empeo-light: empeo-light.$theme;
$empeo-dark: empeo-dark.$theme;
$themes: (
    gofive-salesbear-light: $salesbear-light,
    // gofive-salesbear-dark: $salesbear-dark,
    gofive-venio-light: $venio-light,
    // gofive-venio-dark: $venio-dark,
    gofive-empeo-light: $empeo-light,
    // gofive-empeo-dark: $empeo-dark,
);

@mixin generateThemeMappings() {
    @if $prefixClass != null {
        .#{$prefixClass} {
            $theme-map: () !global;
            @include generateKeyMappings($default-theme);
            @content;
            $theme-map: null !global;
        }
    } @else if $themes != null {
        @each $key-theme, $value-theme in $themes {
            @if $themesName != null {
                .#{$themesName}.#{$key-theme} {
                    $theme-map: () !global;
                    @include generateKeyMappings($value-theme);
                    @content;
                    $theme-map: null !global;
                }
            } @else {
                .#{$key-theme} {
                    $theme-map: () !global;
                    @include generateKeyMappings($value-theme);
                    @content;
                    $theme-map: null !global;
                }
            }
        }
    } @else {
        $theme-map: () !global;
        @include generateKeyMappings($default-theme);
        @content;
        $theme-map: null !global;
    }
}

@mixin generateKeyMappings($theme, $key-map-1: null) {
    $type: type-of($theme);
    $key-map-value: null;
    @if type-of($theme) == "map" {
        @each $key, $value in $theme {
            $key-map-value: "";
            $key-map: $key;
            @if $key-map-1 == null {
                $key-map-value: "#{$key}";
            } @else {
                $key-map-value: "#{$key-map-1}.#{$key}";
            }
            @include generateKeyMappings($value, $key-map-value);
        }
    } @else {
        $key-map-value: $key-map-1;
        $theme-map: map-merge(
            $theme-map,
            (
                $key-map-value: $theme,
            )
        ) !global;
    }
}

@function themed($key) {
    @if ($theme-map == null) {
        @return null;
    } @else {
        @return map-get($theme-map, $key);
    }
}
