$weight-bold: "sukhumvit-bold";
$weight-semiBold: "Sukhumvit-semi-bold";
$weight-medium: "sukhumvit-medium";
$weight-regular: "sukhumvit-regular";
$weight-light: "sukhumvit-light";
$weight-thin: "sukhumvit-thin";
$feature-activity: linear-gradient(337deg, #0382fa 11.48%, #3b9ffd 87.76%);
$feature-deal: linear-gradient(337deg, #b30070 11.48%, #f60098 87.76%);
$feature-case: linear-gradient(337deg, #efc439 11.51%, #efe239 87.76%);
$feature-customer: linear-gradient(337deg, #4ca32c 11.48%, #5fca38 87.76%);
$feature-quotation: linear-gradient(337deg, #7d2ef0 11.48%, #a975f5 87.76%);
$feature-salesorder: linear-gradient(337deg, #0382fa 11.48%, #3b9ffd 87.76%);
$feature-expense: linear-gradient(337deg, #03b58f 11.48%, #42dec6 87.76%);
$feature-conversation: linear-gradient(337deg, #0382fa 11.48%, #3b9ffd 87.76%);
$feature-contract: linear-gradient(180deg, #3885ff 0%, #0848af 99.97%);
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-offcanvas: 1050;
$zindex-modal: 1060;
$zindex-popover: 1070;
$zindex-tooltip: 1080;
