@import './../variable/color';
@function color($colorName) {
  @return map-get($colorVariable, $colorName);
}
@function themed($key) {
  @if ($theme-map == null) {
      @return null;
  } @else {
      @return map-get($theme-map, $key);
  }
}
