<div class="s-tags {{ cssClass }}">
  <div class="s-tags-value">
    <nz-tag *ngFor="let tag of value; let i = index" class="s-tags-item">
      <ng-template #name [ngTemplateOutlet]="valueTemplate?valueTemplate:defaultValueTags"
        [ngTemplateOutletContext]="{$implicit:tag}"></ng-template>
    </nz-tag>
    <ng-container [ngTemplateOutlet]="customToggleTemplate?customToggleTemplate:defaultToogleTags">
    </ng-container>
    <ng-container [ngTemplateOutlet]="defaultInputTags"></ng-container>
  </div>
</div>


<ng-template #defaultInputTags>
  <input #inputElement *ngIf="inputVisible && visibleToggle" type="text" class="s-tags-input" [(ngModel)]="inputValue"
    (keydown.backspace)="handleKeyBackspace()" (blur)="handleInputConfirm()" [placeholder]="placeholder"
    (keydown.enter)="handleInputConfirm()" />
  <span class="underline-animation" [ngClass]="{ 's-tags-focus' : inputVisible && visibleToggle }"></span>
</ng-template>

<ng-template #defaultToogleTags>
  <nz-tag *ngIf="!inputVisible && visibleToggle" nzNoAnimation (click)="showInput()" class="s-tags-item s-tags-toggle">
    <ng-container [ngTemplateOutlet]="toggleTemplate?toggleTemplate:toogleTags"></ng-container>
  </nz-tag>
</ng-template>

<ng-template #toogleTags>
    <i  class="s-icon-add {{ iconToggle }}"></i>
</ng-template>

<ng-template #defaultValueTags let-data>
  {{ sliceTagName(data[field.text]) }}<span *ngIf="showRemoveButton" class="s-icon-close {{ iconRemove }}"
    (click)="handleClose(data)"></span>
</ng-template>