.s-tags {
    overflow: hidden;
    .s-tags-input {
        margin: 6px 6px 0 0;
        border: 0;
        outline: none;
        box-shadow: none;
        font-size: 14px;
        min-height: 28px;
    }
    .s-tags-value {
        padding: 0px 0px 6px;
        position: relative;
    }
    .underline-animation {
        transition: all 0.3s;
        display: inline-block;
        bottom: 0;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #116dfc;
    }

    .underline-animation.s-tags-focus {
        left: 0;
    }

    .s-tags-item {
        box-sizing: border-box;
        font-variant: tabular-nums;
        list-style: none;
        font-feature-settings: "tnum";
        display: inline-block;
        height: auto;
        line-height: 20px;
        white-space: nowrap;
        opacity: 1;
        transition: all 0.3s;
        background: #e7f0ff;
        color: #116dfc;
        margin: 6px 6px 0 0;
        font-size: 14px;
        padding: 3px 12px;
        border-radius: 50px;
        border: 1px solid #e7f0ff;
        .s-icon-close {
            font-size: 10px;
            max-width: 0;
            -webkit-transition: max-width 0.5s, margin-left 0.4s, opacity 0.2s;
            transition: max-width 0.5s, margin-left 0.4s, opacity 0.2s;
            display: inline-block;
            margin-left: 0px;
            opacity: 0;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            &::before {
                color: inherit;
            }
        }

        &:hover {
            .s-icon-close {
                opacity: 1;
                max-width: 14px;
                margin-left: 4px;
            }
        }

        &.s-tags-toggle {
            padding: 3px 6px;
            background-color: #116dfc;
            color: white;
            border: 1px solid #116dfc;
            .s-icon-add {
                &::before {
                    color: inherit;
                }
            }
        }
    }
}
