<div class="s-file-manager">
  <s-uploader #uploader [maxFileSize]="maxFileSize" [max]="max" [showToggleAdd]="false" [attachments]="attachments || []"
    [showRemoveFile]="false" (valueChange)="setAttachment($event)">
    <ng-template #valueTemplate let-data>
      <div class="s-file-upload-file">
        <img [src]="data | sAttSecure:true | async" alt="">
        <div class="s-file-info">
          <p class="s-file-name">{{ data.filename }}</p>
          <i class="s-file-icon gfc-bin" (click)="uploader.remove(data)" aria-hidden="true"></i>
          <p class="s-file-size">{{ data.fileSize | sSize }}</p>
        </div>
      </div>
    </ng-template>
  </s-uploader>
  <div *ngIf="uploader.onload" class="loading text-center">
    <div class="spinner-border color-primary" role="status"></div>
  </div>
  <div class="s-file-manager-content">
    <ng-template ngFor let-type [ngForOf]="filesUpload">
      <div class="s-file-manager-type" [ngClass]="{'disabled' : uploader.attachments.length >=  uploader.max }" *ngIf="type.isActive" (click)="onSelectType(type)">
        <label class="s-file-manager-block" for="{{ type.name }}">
          <i class="{{type.icon}}" aria-hidden="true">
            <span *ngFor="let e of counter(type.pathIcon);let i = index" [className]="'path' + (i + 1)"></span>
          </i>
          <p class="label-text">{{ type.name | sPhrase | async }}</p>
        </label>
      </div>
    </ng-template>
  </div>
</div>