.s-file-manager {
    width: 100%;
    input[type="file"] {
        display: none;
    }

    .color-primary {
        color: #116DFC;
    }

    .sUploader .sUploader-container .sUploader-file-list {
        width: auto;
        height: auto;
        display: block;
    }

    .s-file-manager-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }
    .s-file-manager-type {
        cursor: pointer;
        width: 100%;
        margin: 5px 5px 0px;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
        &.disabled {
            cursor: none;
            opacity: 0.4;
            pointer-events: none;
        }
    }

    .s-file-upload-file {
        width: 80px;
        height: auto;

        img {
            width: 80px;
            height: 80px;
            border-radius: 6px;
            object-fit: scale-down;
        }

        .s-file-name {
            color: #1a1a1a;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
        }

        .s-file-icon {
            color: #646464;
            float: right;
            &::before {
                color: inherit;
            }
            &:hover {
                color: #DE3A45;
            }
        }
        .s-file-size {
            font-size: 10px;
            color: #959595;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .s-file-manager-block {
        box-shadow: 0px 0px 2.98291px rgb(181 181 181 / 50%);
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        border: 0;
        background-color: white;

        .label-text {
            margin: 0px;
            font-size: 10px;
            color: #757575;
        }

        i {
            font-size: 20px;
        }
    }
}
