$bg-color: black;
$font1-color: white;
$font2-color: #e6e6e6;
$height-pvw-content: calc(100vh - 160px);
$color-icon-close-hover: #fc6e51;
$fade: 0.6;
$cobalt: #035ce6;

.s-attachment-modal {
    .button-download {
        color: white;
        background: #116dfc;
        border-radius: 50px;
        padding: 3px 16px;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
            padding-right: 5px;
            &:before {
                color: white;
            }
        }

        &:hover {
            background: $cobalt;
            text-decoration: none;
        }
    }

    .s-attachment-title {
        font-size: 16px;
        margin: 0;
    }
    .s-attachment-des {
        font-size: 14px;
        margin: 0;
    }

    .e-dlg-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1070 !important;
    }
}

.s-attachment-modal.e-dialog {
    border-radius: unset;
    width: auto;
    border: none;
    background-color: unset;
    box-shadow: unset;
    height: calc(100vh);
    width: 100%;
    max-height: 100% !important;
    background-color: #000000a6;

    .fadeIn {
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-duration: 1s;
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .close-icon {
        font-size: 18px;

        &::before {
            color: #ffffffa6;
        }

        &:hover {
            &:before {
                cursor: pointer;
                color: #fff;
            }
        }
    }

    .e-dlg-content {
        position: absolute;
        top: 0px;
        bottom: 0px;
        height: 100vh;
        padding: 0;
        background: unset;
        width: 100%;
    }

    .e-dlg-header-content,
    .e-footer-content {
        background-color: transparent;
        border: unset;
        border-radius: 0;
        z-index: 1;
    }

    .e-dlg-header-content {
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 0;

        p {
            margin: 0px;
        }
    }

    .e-footer-content {
        position: absolute;
        padding: 0px;
        bottom: 0px;
        width: 100%;
    }

    .e-dlg-header {
        width: 100%;
        color: $font1-color;
    }

    .e-dlg-header * {
        color: $font1-color;
        font-size: 14px;
    }

    .header-preview {
        margin: 0 !important;
        padding: 10px 15px;
        background-color: #00000073;

        &.none-bg {
            background-color: transparent !important;
        }

        .header-preview-left {
            margin: auto;
        }

        .header-preview-center {
            text-align: center;
            margin: auto;

            .date {
                color: #757575;
                font-size: 12px;
                margin: 0;
                padding-top: 5px;
            }
        }

        .header-preview-right {
            display: flex;
            justify-content: flex-end;
            margin: auto;

            .item {
                margin: auto 0px auto 20px;
            }
        }
    }

    .footer-preview {
        background-color: #00000073;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        display: flex;

        .footer-previe-list {
            padding: 0;
            margin: 0;
            margin: auto;
            display: flex;

            li {
                display: inline;
                padding: 10px;
                cursor: pointer;

                img {
                    height: 50px;
                    background-position: center center;
                    background-size: cover;
                    opacity: 0.5;
                }

                img.active {
                    opacity: 1;
                }
            }
        }

        .thumbs-container {
            text-align: center;
        }

        .toolbar-container {
            text-align: right;
            color: $font1-color;

            li {
                margin: 0 8px;
                opacity: $fade;

                &:hover {
                    opacity: 0.8;
                }
            }

            i {
                font-size: x-large;
            }
        }
    }

    .preview {
        background-color: transparent;
        height: 100%;
        margin: auto;
        display: flex;
        max-width: calc(100vw);
        max-height: calc(100vh);
        overflow: auto;
        justify-content: center;
        align-items: center;

        img,
        video {
            display: block;
            margin: auto;
            max-width: 100vw;
            max-height: $height-pvw-content;
            padding: 0px 20px 20px;
        }

        .preview-dowload {
            width: 500px;
            color: $font2-color;

            img {
                width: 300px;
            }
        }

        .pdf-viewer-content {
            width: 100vw;

            #attachment-pdf-viewer {
                .body {
                    background-color: transparent !important;
                }

                .toolbar {
                    border: 0;
                }

                .pdfViewer {
                    .page {
                        top: 70px !important;
                    }
                }

                #toolbarContainer {
                    background-color: transparent !important;
                    display: none;
                }

                #viewerContainer {
                    background-color: transparent !important;
                    top: 0px !important;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                #viewer {
                    background-color: transparent !important;
                }
            }
        }

        .arrow {
            opacity: $fade;
            position: absolute;
            top: 46%;
            font-size: 30px;
            cursor: pointer;
            padding: 20px 10px;
            background: $bg-color;
            color: $font1-color;

            &::before {
                color: #ffffffa6;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .arrow-left {
            left: 0;
        }

        .arrow-right {
            right: 0;
        }

        .preview-layout {
            width: calc(100vw);
            height: calc(100vh);

            .preview-toolbar {
                position: absolute;
                top: 0;
                width: 100%;
                background: $bg-color;
                color: $font1-color;
                padding: 12px;
            }
        }

        .loading {
            display: block;
            margin: auto;
        }

        .preview-options {
            position: absolute;
            display: none;
            flex-direction: row;
            height: calc(100vh - 168px);
            width: 100%;

            .preview-previous {
                flex-grow: 1;
                width: 40%;
                opacity: 0;
            }

            .preview-next {
                flex-grow: 1;
                width: 60%;
                opacity: 0;
            }
        }
    }
}
