<div id="modalTarget" class="s-attachment-modal" *ngIf="isOpen">
  <ejs-dialog #modalDialog id="modalDialog" cssClass="s-attachment-modal" [visible]="false"
    [isModal]='true' [animationSettings]='animationSettings' (created)="onCreated()">
    <!-- Header -->
    <ng-template #header>
      <div class="header-preview row" *ngIf="showOption">
        <div class="header-preview-left col-4">
          <p>{{ currentIndex + 1 || 0 }} {{ 'common_of' |sPhrase| async }} {{ allAttachment.length }}</p>
        </div>
        <div class="header-preview-center col-4">
          <p class="ellipsis" *ngIf="currentAttachment && currentAttachment.filename">{{ currentAttachment.filename }}
          </p>
          <p class="date">{{ currentAttachment?.dateCreated | date:'dd/MM/yyyy HH:mm' }}</p>
        </div>
        <div class="header-preview-right col-4">
          <div class="item" *ngIf="allowDownload 
          && this.listDownload.length > 0 
          && !error 
          && currentAttachment && (currentAttachment.localUrl$ | async) as attachmentUrl">
            <button class="button-download" (click)="onDownload(attachmentUrl)" *ngIf="attachmentUrl.status != 0">
              <i class="gfc-download"></i>
              {{ 'common_download' |sPhrase| async }}
            </button>
            <!-- <s-dropdown *ngIf="attachmentUrl.status != 0" [dataSource]='listDownload' [allowFiltering]="false" [showTooltip]="false"
              cssClass="btn-download" (selected)="selectDownload($event,attachmentUrl)">
              <ng-template #toggleTemplate>
                <button>
                  <i class="gfc-download"></i>
                  {{ 'common_download' |sPhrase| async }}
                  <i class="icon-arrow gfc-down-mini"></i>
                </button>
              </ng-template>
              <ng-template #itemTemplate let-data>{{data.text |sPhrase|async}}</ng-template>
            </s-dropdown> -->

          </div>
          <div class="item">
            <i class="gfc-close close-icon fadeIn float-right" (click)="overlayClick($event)"
              title="{{ 'common_close' |sPhrase| async }}">
            </i>
          </div>
        </div>
      </div>
      <div class="header-preview row none-bg" *ngIf="!showOption">
        <div class="col-12">
          <i class="icon-Close close-icon fadeIn float-right" (click)="overlayClick($event)"
            title="{{ 'common_close' |sPhrase| async }}">
          </i>
        </div>
      </div>
    </ng-template>

    <!-- Content -->
    <ng-template #content>
      <div class="preview" (click)="overlayClick($event)" [ngSwitch]="Mode[mode]">
        <div *ngSwitchCase="Mode.Attachment">
          <ng-container [ngTemplateOutlet]="attachmentRef"></ng-container>
        </div>
        <div *ngSwitchCase="Mode.Vedio">
          <ng-container [ngTemplateOutlet]="videoURLRef"></ng-container>
        </div>
      </div>
    </ng-template>

    <!-- Footer -->
    <ng-template #footerTemplate>
      <div class="footer-preview" *ngIf="showOption">
        <ul class="footer-previe-list">
          <li *ngFor="let att of allAttachment; let i = index" (click)="selectByIndex(i)">
            <img [ngClass]="{ 'active' : currentIndex  == i }"
              [src]="att | sAttSecure:isAllCompany:isAnnoucement | async">
          </li>
        </ul>
      </div>
    </ng-template>
  </ejs-dialog>
</div>

<ng-template #videoURLRef>
  <div class="loading" [ngClass]="{'d-none' : !loading }">
    <div class="spinner-border text-primary" role="status">
      <!-- <span class="sr-only">Loading...</span> -->
    </div>
  </div>
  <div [ngClass]="{'d-none' : loading }" *ngIf="url">
    <iframe width="727" height="409" [src]="url" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      (load)="iframeLoaded();"></iframe>
  </div>
</ng-template>


<ng-template #attachmentRef>
  <div *ngIf="loading; then loadingBlock else dataBlock"></div>
  <ng-template #dataBlock>
    <div class="loading" *ngIf="!localURL  && (currentAttachment && currentAttachment.localUrl$ | async) == null">
      <div class="spinner-border text-primary" role="status">
        <!-- <span class="sr-only">Loading...</span> -->
      </div>
    </div>

    <div *ngIf="currentAttachment &&  (currentAttachment.localUrl$ | async) as attachmentUrl">
      <div *ngIf="attachmentUrl.status == 0 || error; then errorContent else mediaContent"></div>
      <ng-template #mediaContent>
        <!-- image -->
        <img *ngIf="currentType == ExtensionFileType.Image" class="fadeIn" [src]="attachmentUrl"
          [ngClass]="{'d-none' : error }" (error)="errorMedia($event)">
        <!-- video -->
        <video controls *ngIf="currentType == ExtensionFileType.Video" class="fadeIn" [ngClass]="{'d-none' : error }"
          (loadeddata)="loadedMedia($event)" (error)="errorMedia($event)" [src]="attachmentUrl">
        </video>
        <!-- audio -->
        <audio controls *ngIf="currentType == ExtensionFileType.Audio" class="fadeIn" [ngClass]="{'d-none' : error }"
          (loadeddata)="loadedMedia($event)" (error)="errorMedia($event)" [src]="attachmentUrl">
        </audio>
        <!-- Application -->
        <div *ngIf="currentType == ExtensionFileType.Other" class="preview-dowload fadeIn text-center"
          [ngClass]="{'d-none' : error }">
          <img [ngStyle]="{'width.px' : 200}" [src]="currentAttachment | sAttSecure:isAllCompany:isAnnoucement | async">
          <p class="s-attachment-title" *ngIf="currentAttachment.filename">{{ currentAttachment.filename }}</p>
        </div>
      </ng-template>
      <ng-template #errorContent>
        <div class="preview-dowload fadeIn text-center">
          <img [src]="'assets/images/default-pic/dialog-error.png'| sAssets">
          <p class="s-attachment-title" *ngIf="currentAttachment.filename">{{ currentAttachment.filename }}</p>
          <p class="s-attachment-des">{{ 'common_swal_server_errordes' |sPhrase| async }}</p>
        </div>
      </ng-template>
    </div>
  </ng-template>
  <div *ngIf="allAttachment.length > 1" class="preview-options">
    <div (click)="previous()" class="preview-previous"></div>
    <div (click)="next()" class="preview-next"></div>
  </div>
  <i *ngIf="allAttachment.length > 1" (click)="previous()" class="gfc-left arrow arrow-left"
    title="{{ 'COMMON.previous' |sPhrase| async }}"></i>
  <i *ngIf="allAttachment.length > 1" (click)="next()" class="gfc-right arrow arrow-right"
    title="{{ 'COMMON.next' |sPhrase| async }}"></i>
</ng-template>


<ng-template #loadingBlock>
  <div class="loading">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
</ng-template>