*,
*::before,
*::after {
    box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.pointer {
    cursor: pointer;
}

.media {
    display: flex;
    align-items: flex-start;
}
.media-body {
    flex: 1;
}

.pt-event-none {
    pointer-events: none;
}

.pointer {
    cursor: pointer;
}

.content-media {
    display: flex;
    .content-media-auto {
        width: auto;
        flex-shrink: 0 !important;
    }
    .content-media-body {
        flex: 1;
        min-width: 1px;
        max-width: 100%;
    }
}
