.s-tab {
  width: 100%;
  height: 100%;
  position: relative;

  .s-tab-header {
    height: auto;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .s-tab-toolbar {
    display: inline-flex;
    justify-content: center;
    flex-wrap: initial;

    .control-button-prev,
    .control-button-next {
      background-color: #ffffff;
      display: none;
      height: auto;
      justify-content: center;
      align-items: center;
      padding: 0px 5px;
      z-index: 1;

      .control-button {
        width: 25px;
        height: 25px;
        filter: drop-shadow(0px 0px 4px rgba(181, 181, 181, 0.4));
        border-radius: 50px;
        text-align: center;
        background-color: #ffffff;
        line-height: 26px;
        font-size: 20px;
        display: flex;

        i {
          margin: auto;
          font-size: 20px;
        }
      }

      &.active {
        animation: scale-display 0.1s;
        animation-fill-mode: forwards;
        display: flex;
      }
      &.remove {
        animation: scale-display--reversed 0.1s;
        animation-fill-mode: forwards;
        display: flex;
      }
    }

    .control-button-prev {
      position: sticky;
      left: 0;
    }
    .control-button-next {
      position: sticky;
      right: 0;
    }
  }

  .s-tab-toolbar-item {
    min-height: 0;
    vertical-align: middle;
    width: auto;
    cursor: pointer;
    .s-tab-wrap {
      padding: 4px 15px 9px;
      position: relative;
      width: 100%;
      text-align: center;
    }

    &.s-active {
      .s-tab-wrap::after {
        content: " ";
        width: inherit;
        height: 5px;
        background-color: #116dfc;
        position: absolute;
        border-radius: 50px;
        left: 0;
        bottom: 0;
      }
    }
    &.s-disable {
      opacity: 0.2;
      pointer-events: none;
    }
  }

  .s-content-item {
    display: none;

    &.s-active {
      display: block;
    }
  }
}

@keyframes scale-display--reversed {
  0% {
    display: flex;
    opacity: 1;
  }
  50% {
    display: flex;
    opacity: 0.5;
  }
  99% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
    width: 0px;
    padding: 0;
  }
}
