<div class="s-tab {{cssClass}}" [ngStyle]="{'width' : width}">
  <!-- Toolbar -->
  <div class="s-tab-header" (scroll)="onScroll($event)" #headerTab>
    <div class="s-tab-toolbar">
      <div class="control-button-prev {{ showPrevBtn? 'active' : 'remove' }}" (click)="onPreviousNext('previous')">
        <div class="control-button"><i class="gfc-left-mini"></i></div>
      </div>
      <ng-template ngFor let-item let-i=index [ngForOf]="tabItems">
          <div class="s-tab-toolbar-item"
            [ngClass]="{'s-active' : i == currentSelect.selectedIndex, 's-disable' : !item.enableTab}"
            (click)="onSelect(item,i,$event)">
            <div class="s-tab-wrap">
              <ng-container [ngTemplateOutlet]="item.headerTemplate?item.headerTemplate:defaultHeaderTemplate"
                [ngTemplateOutletContext]="{$implicit:item}"></ng-container>
            </div>
          </div>
      </ng-template>
      <div class="control-button-next {{ showNextBtn? 'active' : 'remove' }}" (click)="onPreviousNext('next')">
        <div class="control-button"><i class="gfc-right-mini"></i></div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="s-content">
    <div class="s-content-item" *ngFor="let item of tabContent"
      [ngClass]="{'s-active' : item.id == currentSelect.selectedItem.id}">
      <ng-container [ngTemplateOutlet]="item.valueTemplate?item.valueTemplate:defaultValueTemplate"
        [ngTemplateOutletContext]="{$implicit:item}"></ng-container>
    </div>
  </div>


  <ng-template #defaultHeaderTemplate let-data>
    <div [innerHTML]="data.header.text"></div>
  </ng-template>

  <ng-template #defaultValueTemplate let-data>
    <div [innerHTML]="data.header.content"></div>
  </ng-template>