<div class="s-dialog-content">
  <img *ngIf="modal?.imageUrl" class="s-dialog-image" [src]="modal.isFullPath ? modal?.imageUrl : (modal?.imageUrl | sAssets)">
  <p *ngIf="modal?.title" class="s-dialog-title">{{ modal?.title | sPhrase | async }}</p>
  <pre *ngIf="modal?.discription" class="s-dialog-subtitle">{{ modal?.discription | sPhrase | async }}</pre>
  <textarea *ngIf="modal?.showRemark" [(ngModel)]="remark" 
  class="s-dialog-area" rows="5" [placeholder]="modal?.inputPlaceholder"></textarea>
  <div class="s-dialog-button">
    <button *ngIf="modal?.confirmButtonText" type="button" class="button button-primary" 
    (click)="confirm()" [disabled]="disable()">
      {{ modal?.confirmButtonText | sPhrase | async }}
    </button>
    <button *ngIf="modal?.cancelButtonText" type="button" class="button button-secondary" (click)="cancel()">
      {{ modal?.cancelButtonText | sPhrase | async }}
    </button>
  </div>
</div>