@import "./../../../../assets/styles/theme/theme";
@import "./../../../../assets/styles/variable";
@import "./../../../../assets/styles/component/button";
.hot-toast-theme-gofive {
    height: 100%;
    background: rgba(25, 25, 25, 0.45);
    .hot-toast-message {
        margin: 0px !important;
        display: block !important;
    }
    .s-dialog {
        min-width: 400px;
        background: #ffffff;
        box-shadow: 0px 0px 5px rgba(181, 181, 181, 0.5);
        border-radius: 18px;
        margin: auto;
        padding: 24px;
        overflow: auto;
        max-height: 90%;
        text-align: center;

        .s-dialog-image {
            height: 200px;
            margin: 0px 0px 20px;
        }
        .s-dialog-button {
            margin: 40px 0px 0px;
            .button {
                width: 100%;
                margin-top: 4px;
            }
        }

        .s-dialog-area {
            width: 100%;
            margin-top: 24px;
            border-radius: 6px;
            margin-bottom: 0px;
            border: 1px solid #e2e2e2;
            padding: 8px;
            &:focus {
                outline: none;
            }
        }
    }
    @include generateThemeMappings() {
        .s-dialog-title {
            @include text-header-2;
            margin: 0;
        }
        .s-dialog-subtitle {
            @include text-title;
            @include pre-wrap;
            color: themed("text.color-k-40");
            margin: 0px 15px;
        }
    }
}
.hot-toast-theme-gofive-close {
    display: none;
    .s-dialog {
        display: none;
    }
}
