.gofive-salesbear-light .button,
.gofive-salesbear-light .button-sm {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 16px !important;
  line-height: 140% !important;
  overflow: visible;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  border-radius: 6px;
  text-align: center;
  position: relative;
}
.gofive-salesbear-light .button i,
.gofive-salesbear-light .button-sm i {
  font-size: 12px;
  line-height: 20px;
  margin-right: 4px;
}
.gofive-salesbear-light .button {
  padding: 10px 32px;
}
.gofive-salesbear-light .button-sm {
  padding: 6px 16px;
}
.gofive-salesbear-light .button-circle {
  padding: 0;
  font-size: 18px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
}
.gofive-salesbear-light .button-circle i {
  margin: auto;
}
.gofive-salesbear-light .button-circle-sm {
  padding: 0;
  font-size: 14px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
}
.gofive-salesbear-light .button-circle-sm i {
  margin: auto;
}
.gofive-salesbear-light .button.button-lg {
  font-size: 18px;
  line-height: 28px;
}
.gofive-salesbear-light .button.button-sm {
  font-size: 14px;
  line-height: 16px;
}
.gofive-salesbear-light .button-pill {
  padding: 8px 16px;
  border-radius: 50px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
}
.gofive-salesbear-light .button-primary {
  color: #333132;
  background: #ffc505;
  border: 1px solid #ffc505;
}
.gofive-salesbear-light .button-primary i::before {
  color: inherit;
}
.gofive-salesbear-light .button-primary.button-circle, .gofive-salesbear-light .button-primary.button-circle-sm {
  color: #ffffff;
}
.gofive-salesbear-light .button-primary:hover:not(:disabled) {
  color: #333132;
  background: #ffb700;
  border: 1px solid #ffb700;
}
.gofive-salesbear-light .button-primary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-salesbear-light .button-primary:hover:not(:disabled).button-circle, .gofive-salesbear-light .button-primary:hover:not(:disabled).button-circle-sm {
  color: #ffffff;
}
.gofive-salesbear-light .button-primary:disabled {
  color: #cacaca;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gofive-salesbear-light .button-primary:disabled i::before {
  color: inherit;
}
.gofive-salesbear-light .button-primary:disabled.button-circle {
  color: #ffffff;
}
.gofive-salesbear-light .button-secondary {
  color: #333132;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gofive-salesbear-light .button-secondary i::before {
  color: inherit;
}
.gofive-salesbear-light .button-secondary.button-circle, .gofive-salesbear-light .button-secondary.button-circle-sm {
  color: #ffffff;
}
.gofive-salesbear-light .button-secondary:hover:not(:disabled) {
  color: #333132;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
}
.gofive-salesbear-light .button-secondary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-salesbear-light .button-secondary:hover:not(:disabled).button-circle, .gofive-salesbear-light .button-secondary:hover:not(:disabled).button-circle-sm {
  color: #ffffff;
}
.gofive-salesbear-light .button-secondary:disabled {
  color: #cacaca;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gofive-salesbear-light .button-secondary:disabled i::before {
  color: inherit;
}
.gofive-salesbear-light .button-secondary:disabled.button-circle {
  color: #ffffff;
}
.gofive-salesbear-light .button-tertiary {
  color: #ffb700;
  background: #fff8e0;
  border: 1px solid #fff3cc;
}
.gofive-salesbear-light .button-tertiary i::before {
  color: inherit;
}
.gofive-salesbear-light .button-tertiary.button-circle, .gofive-salesbear-light .button-tertiary.button-circle-sm {
  color: #ffb700;
}
.gofive-salesbear-light .button-tertiary:hover:not(:disabled) {
  color: #ffb700;
  background: #fff3cc;
  border: 1px solid #fff3cc;
}
.gofive-salesbear-light .button-tertiary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-salesbear-light .button-tertiary:hover:not(:disabled).button-circle, .gofive-salesbear-light .button-tertiary:hover:not(:disabled).button-circle-sm {
  color: #ffb700;
}
.gofive-salesbear-light .button-tertiary:disabled {
  color: #ffdc66;
  background: #fff8e0;
  border: 1px solid #fff8e0;
}
.gofive-salesbear-light .button-tertiary:disabled i::before {
  color: inherit;
}
.gofive-salesbear-light .button-tertiary:disabled.button-circle {
  color: #ffb700;
}
.gofive-salesbear-light .button-light {
  color: #333132;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gofive-salesbear-light .button-light i::before {
  color: inherit;
}
.gofive-salesbear-light .button-light:hover:not(:disabled) {
  color: #333132;
  background: #ffb700;
  border: 1px solid #ffb700;
}
.gofive-salesbear-light .button-light:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-salesbear-light .button-light:disabled {
  color: #ffffff;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gofive-salesbear-light .button-light:disabled i::before {
  color: inherit;
}
.gofive-salesbear-light .button-info {
  color: #ffc505;
  background: #fff8e0;
  border: 1px solid #e7f0ff;
}
.gofive-salesbear-light .button-info i::before {
  color: inherit;
}
.gofive-salesbear-light .button-info:hover:not(:disabled) {
  color: #ffc505;
  background: #ffb700;
  border: 1px solid #ffb700;
}
.gofive-salesbear-light .button-info:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-salesbear-light .button-info:disabled {
  color: #454545;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.gofive-salesbear-light .button-info:disabled i::before {
  color: inherit;
}
.gofive-salesbear-light .button-control-group .sDropdown .sDropdown-toggle {
  background-color: transparent !important;
}
.gofive-salesbear-light .button-control-group .button {
  padding: 12px 24px;
  border-radius: 0;
}
.gofive-salesbear-light .button-control-group .button:first-child:not(:last-child) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.gofive-salesbear-light .button-control-group .button:last-child:not(:first-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.gofive-salesbear-light .button-create-fuature {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 48px;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  color: #ffc505;
}
.gofive-salesbear-light .button-create-fuature:hover {
  color: #ffb700;
}
.gofive-salesbear-light .button-create-fuature .gfc-customer-circle .path1::before,
.gofive-salesbear-light .button-create-fuature .gfc-customer-circle .path3::before,
.gofive-salesbear-light .button-create-fuature .gfc-customer-circle .path5::before,
.gofive-salesbear-light .button-create-fuature .gfc-customer-circle .path6::before,
.gofive-salesbear-light .button-create-fuature .gfc-customer-circle .path7::before {
  color: inherit;
}
.gofive-salesbear-light .button-create-fuature .gfc-add-general .path4::before {
  color: inherit;
}

.gofive-venio-light .button,
.gofive-venio-light .button-sm {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 16px !important;
  line-height: 140% !important;
  overflow: visible;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  border-radius: 6px;
  text-align: center;
  position: relative;
}
.gofive-venio-light .button i,
.gofive-venio-light .button-sm i {
  font-size: 12px;
  line-height: 20px;
  margin-right: 4px;
}
.gofive-venio-light .button {
  padding: 10px 32px;
}
.gofive-venio-light .button-sm {
  padding: 6px 16px;
}
.gofive-venio-light .button-circle {
  padding: 0;
  font-size: 18px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
}
.gofive-venio-light .button-circle i {
  margin: auto;
}
.gofive-venio-light .button-circle-sm {
  padding: 0;
  font-size: 14px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
}
.gofive-venio-light .button-circle-sm i {
  margin: auto;
}
.gofive-venio-light .button.button-lg {
  font-size: 18px;
  line-height: 28px;
}
.gofive-venio-light .button.button-sm {
  font-size: 14px;
  line-height: 16px;
}
.gofive-venio-light .button-pill {
  padding: 8px 16px;
  border-radius: 50px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
}
.gofive-venio-light .button-primary {
  color: #ffffff;
  background: #116dfc;
  border: 1px solid #116dfc;
}
.gofive-venio-light .button-primary i::before {
  color: inherit;
}
.gofive-venio-light .button-primary.button-circle, .gofive-venio-light .button-primary.button-circle-sm {
  color: #ffffff;
}
.gofive-venio-light .button-primary:hover:not(:disabled) {
  color: #ffffff;
  background: #035ce6;
  border: 1px solid #035ce6;
}
.gofive-venio-light .button-primary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-venio-light .button-primary:hover:not(:disabled).button-circle, .gofive-venio-light .button-primary:hover:not(:disabled).button-circle-sm {
  color: #ffffff;
}
.gofive-venio-light .button-primary:disabled {
  color: #cacaca;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.gofive-venio-light .button-primary:disabled i::before {
  color: inherit;
}
.gofive-venio-light .button-primary:disabled.button-circle {
  color: #ffffff;
}
.gofive-venio-light .button-secondary {
  color: #454545;
  background: #ffffff;
  border: 1px solid #d9d9d9;
}
.gofive-venio-light .button-secondary i::before {
  color: inherit;
}
.gofive-venio-light .button-secondary.button-circle, .gofive-venio-light .button-secondary.button-circle-sm {
  color: #454545;
}
.gofive-venio-light .button-secondary:hover:not(:disabled) {
  color: #454545;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}
.gofive-venio-light .button-secondary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-venio-light .button-secondary:hover:not(:disabled).button-circle, .gofive-venio-light .button-secondary:hover:not(:disabled).button-circle-sm {
  color: #454545;
}
.gofive-venio-light .button-secondary:disabled {
  color: #cacaca;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
}
.gofive-venio-light .button-secondary:disabled i::before {
  color: inherit;
}
.gofive-venio-light .button-secondary:disabled.button-circle {
  color: #454545;
}
.gofive-venio-light .button-tertiary {
  color: #116dfc;
  background: #f5f9ff;
  border: 1px solid #e7f0ff;
}
.gofive-venio-light .button-tertiary i::before {
  color: inherit;
}
.gofive-venio-light .button-tertiary.button-circle, .gofive-venio-light .button-tertiary.button-circle-sm {
  color: #116dfc;
}
.gofive-venio-light .button-tertiary:hover:not(:disabled) {
  color: #116dfc;
  background: #e7f0ff;
  border: 1px solid #e7f0ff;
}
.gofive-venio-light .button-tertiary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-venio-light .button-tertiary:hover:not(:disabled).button-circle, .gofive-venio-light .button-tertiary:hover:not(:disabled).button-circle-sm {
  color: #116dfc;
}
.gofive-venio-light .button-tertiary:disabled {
  color: #b8d3fe;
  background: #e7f0ff;
  border: 1px solid #e7f0ff;
}
.gofive-venio-light .button-tertiary:disabled i::before {
  color: inherit;
}
.gofive-venio-light .button-tertiary:disabled.button-circle {
  color: #116dfc;
}
.gofive-venio-light .button-light {
  color: #959595;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.gofive-venio-light .button-light i::before {
  color: inherit;
}
.gofive-venio-light .button-light:hover:not(:disabled) {
  color: #ffffff;
  background: #116dfc;
  border: 1px solid #035ce6;
}
.gofive-venio-light .button-light:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-venio-light .button-light:disabled {
  color: #ffffff;
  background: #cacaca;
  border: 1px solid #cacaca;
}
.gofive-venio-light .button-light:disabled i::before {
  color: inherit;
}
.gofive-venio-light .button-info {
  color: #116dfc;
  background: #f5f9ff;
  border: 1px solid #e7f0ff;
}
.gofive-venio-light .button-info i::before {
  color: inherit;
}
.gofive-venio-light .button-info:hover:not(:disabled) {
  color: #ffffff;
  background: #116dfc;
  border: 1px solid #035ce6;
}
.gofive-venio-light .button-info:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-venio-light .button-info:disabled {
  color: #ffffff;
  background: #cacaca;
  border: 1px solid #cacaca;
}
.gofive-venio-light .button-info:disabled i::before {
  color: inherit;
}
.gofive-venio-light .button-control-group .sDropdown .sDropdown-toggle {
  background-color: transparent !important;
}
.gofive-venio-light .button-control-group .button {
  padding: 12px 24px;
  border-radius: 0;
}
.gofive-venio-light .button-control-group .button:first-child:not(:last-child) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.gofive-venio-light .button-control-group .button:last-child:not(:first-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.gofive-venio-light .button-create-fuature {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 48px;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  color: #116dfc;
}
.gofive-venio-light .button-create-fuature:hover {
  color: #035ce6;
}
.gofive-venio-light .button-create-fuature .gfc-customer-circle .path1::before,
.gofive-venio-light .button-create-fuature .gfc-customer-circle .path3::before,
.gofive-venio-light .button-create-fuature .gfc-customer-circle .path5::before,
.gofive-venio-light .button-create-fuature .gfc-customer-circle .path6::before,
.gofive-venio-light .button-create-fuature .gfc-customer-circle .path7::before {
  color: inherit;
}
.gofive-venio-light .button-create-fuature .gfc-add-general .path4::before {
  color: inherit;
}

.gofive-empeo-light .button,
.gofive-empeo-light .button-sm {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 16px !important;
  line-height: 140% !important;
  overflow: visible;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  border-radius: 6px;
  text-align: center;
  position: relative;
}
.gofive-empeo-light .button i,
.gofive-empeo-light .button-sm i {
  font-size: 12px;
  line-height: 20px;
  margin-right: 4px;
}
.gofive-empeo-light .button {
  padding: 10px 32px;
}
.gofive-empeo-light .button-sm {
  padding: 6px 16px;
}
.gofive-empeo-light .button-circle {
  padding: 0;
  font-size: 18px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
}
.gofive-empeo-light .button-circle i {
  margin: auto;
}
.gofive-empeo-light .button-circle-sm {
  padding: 0;
  font-size: 14px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
}
.gofive-empeo-light .button-circle-sm i {
  margin: auto;
}
.gofive-empeo-light .button.button-lg {
  font-size: 18px;
  line-height: 28px;
}
.gofive-empeo-light .button.button-sm {
  font-size: 14px;
  line-height: 16px;
}
.gofive-empeo-light .button-pill {
  padding: 8px 16px;
  border-radius: 50px;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
}
.gofive-empeo-light .button-primary {
  color: #ffffff;
  background: #f05b2f;
  border: 1px solid #f05b2f;
}
.gofive-empeo-light .button-primary i::before {
  color: inherit;
}
.gofive-empeo-light .button-primary:hover:not(:disabled) {
  color: #ffffff;
  background: #ff7a52;
  border: 1px solid #ff7a52;
}
.gofive-empeo-light .button-primary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-empeo-light .button-primary:disabled {
  color: #a5a5b6;
  background: #dfdfe8;
  border: 1px solid #dfdfe8;
}
.gofive-empeo-light .button-primary:disabled i::before {
  color: inherit;
}
.gofive-empeo-light .button-secondary {
  color: #525260;
  background: #ffffff;
  border: 1px solid #bcbcc8;
}
.gofive-empeo-light .button-secondary i::before {
  color: inherit;
}
.gofive-empeo-light .button-secondary:hover:not(:disabled) {
  color: #f05b2f;
  background: #ffffff;
  border: 1px solid #f05b2f;
}
.gofive-empeo-light .button-secondary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-empeo-light .button-secondary:disabled {
  color: #bcbcc8;
  background: #ffffff;
  border: 1px solid #dfdfe8;
}
.gofive-empeo-light .button-secondary:disabled i::before {
  color: inherit;
}
.gofive-empeo-light .button-tertiary {
  color: #525260;
  background: #ffffff;
  border: 1px solid #bcbcc8;
}
.gofive-empeo-light .button-tertiary i::before {
  color: inherit;
}
.gofive-empeo-light .button-tertiary:hover:not(:disabled) {
  color: #f05b2f;
  background: #ffffff;
  border: 1px solid #f05b2f;
}
.gofive-empeo-light .button-tertiary:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-empeo-light .button-tertiary:disabled {
  color: #bcbcc8;
  background: #ffffff;
  border: 1px solid #dfdfe8;
}
.gofive-empeo-light .button-tertiary:disabled i::before {
  color: inherit;
}
.gofive-empeo-light .button-light {
  color: #525260;
  background: #ffffff;
  border: 1px solid #bcbcc8;
}
.gofive-empeo-light .button-light i::before {
  color: inherit;
}
.gofive-empeo-light .button-light:hover:not(:disabled) {
  color: #f05b2f;
  background: #ffffff;
  border: 1px solid #f05b2f;
}
.gofive-empeo-light .button-light:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-empeo-light .button-light:disabled {
  color: #bcbcc8;
  background: #ffffff;
  border: 1px solid #dfdfe8;
}
.gofive-empeo-light .button-light:disabled i::before {
  color: inherit;
}
.gofive-empeo-light .button-info {
  color: #525260;
  background: #ffffff;
  border: 1px solid #bcbcc8;
}
.gofive-empeo-light .button-info i::before {
  color: inherit;
}
.gofive-empeo-light .button-info:hover:not(:disabled) {
  color: #f05b2f;
  background: #ffffff;
  border: 1px solid #f05b2f;
}
.gofive-empeo-light .button-info:hover:not(:disabled) i::before {
  color: inherit;
}
.gofive-empeo-light .button-info:disabled {
  color: #bcbcc8;
  background: #ffffff;
  border: 1px solid #dfdfe8;
}
.gofive-empeo-light .button-info:disabled i::before {
  color: inherit;
}
.gofive-empeo-light .button-control-group .sDropdown .sDropdown-toggle {
  background-color: transparent !important;
}
.gofive-empeo-light .button-control-group .button {
  padding: 12px 24px;
  border-radius: 0;
}
.gofive-empeo-light .button-control-group .button:first-child:not(:last-child) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.gofive-empeo-light .button-control-group .button:last-child:not(:first-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.gofive-empeo-light .button-create-fuature {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 48px;
  cursor: pointer;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  color: #f05b2f;
}
.gofive-empeo-light .button-create-fuature:hover {
  color: #ffb700;
}
.gofive-empeo-light .button-create-fuature .gfc-customer-circle .path1::before,
.gofive-empeo-light .button-create-fuature .gfc-customer-circle .path3::before,
.gofive-empeo-light .button-create-fuature .gfc-customer-circle .path5::before,
.gofive-empeo-light .button-create-fuature .gfc-customer-circle .path6::before,
.gofive-empeo-light .button-create-fuature .gfc-customer-circle .path7::before {
  color: inherit;
}
.gofive-empeo-light .button-create-fuature .gfc-add-general .path4::before {
  color: inherit;
}

.hot-toast-theme-gofive {
  height: 100%;
  background: rgba(25, 25, 25, 0.45);
}
.hot-toast-theme-gofive .hot-toast-message {
  margin: 0px !important;
}
.hot-toast-theme-gofive .s-dialog {
  min-width: 400px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(181, 181, 181, 0.5);
  border-radius: 18px;
  margin: auto;
  padding: 24px;
  overflow: auto;
  max-height: 90%;
  text-align: center;
}
.hot-toast-theme-gofive .s-dialog .s-dialog-image {
  height: 200px;
  margin: 0px 0px 20px;
}
.hot-toast-theme-gofive .s-dialog .s-dialog-button {
  margin: 40px 0px 0px;
}
.hot-toast-theme-gofive .s-dialog .s-dialog-button .button {
  width: 100%;
  margin-top: 4px;
}
.hot-toast-theme-gofive .s-dialog .s-dialog-area {
  width: 100%;
  margin-top: 24px;
  border-radius: 6px;
  margin-bottom: 0px;
  border: 1px solid #e2e2e2;
  padding: 8px;
}
.hot-toast-theme-gofive .s-dialog .s-dialog-area:focus {
  outline: none;
}
.hot-toast-theme-gofive .gofive-salesbear-light .s-dialog-title {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 26px !important;
  line-height: 140% !important;
  overflow: visible;
  margin: 0;
}
.hot-toast-theme-gofive .gofive-salesbear-light .s-dialog-subtitle {
  font-family: "sukhumvit-medium" !important;
  font-size: 16px !important;
  line-height: 150% !important;
  overflow: visible;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: #959595;
  margin: 0px 15px;
}
.hot-toast-theme-gofive .gofive-venio-light .s-dialog-title {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 26px !important;
  line-height: 140% !important;
  overflow: visible;
  margin: 0;
}
.hot-toast-theme-gofive .gofive-venio-light .s-dialog-subtitle {
  font-family: "sukhumvit-medium" !important;
  font-size: 16px !important;
  line-height: 150% !important;
  overflow: visible;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: #959595;
  margin: 0px 15px;
}
.hot-toast-theme-gofive .gofive-empeo-light .s-dialog-title {
  font-family: "Sukhumvit-semi-bold" !important;
  font-size: 26px !important;
  line-height: 140% !important;
  overflow: visible;
  margin: 0;
}
.hot-toast-theme-gofive .gofive-empeo-light .s-dialog-subtitle {
  font-family: "sukhumvit-medium" !important;
  font-size: 16px !important;
  line-height: 150% !important;
  overflow: visible;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: #959595;
  margin: 0px 15px;
}

.hot-toast-theme-gofive-close {
  display: none;
}
.hot-toast-theme-gofive-close .s-dialog {
  display: none;
}